{% extends "base.html" %}

{% block titulo %}
	Actualizar Datos de Usuario | Cuentas de Usuario
{% endblock titulo %}

{% block header %}
	Modificar Datos de Usuario
{% endblock header %}

{% block contenido %}
	
<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/">Inicio</a></li>
    <li><a href="{% url 'perfil' user %}">Mi Cuenta</a></li>
    <li class="active">Informacion Personal</li>
</ul>

<div class="container-fluid">
	<div class="row">
		<div class="col-md-6 col-md-offset-3">

			<div class="panel panel-primary  shadow-z-2">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="edit icon"></i>
					  <div class="content">
					    Editar Datos Personales	

					  </div>
					  
                    </h3>

                </div>
                <div class="panel-body">
                	<div class="col-md-3 col-sm-3 ">
                		{% if form.imagen.errors %}									 
							{{ form.imagen.errors }}
						{% endif %}	
                		<h4 class="ui center aligned header">Imagen actual</h4>
						<img class="ui small image " 
							src="{{MEDIA_URL}}{{user.imagen}}">
					</div>
					<div class="col-md-9 col-sm-9 ">
						<form class="form-horizontal" method="post" enctype="multipart/form-data">
                                {% csrf_token %}
                        <div class="form-group ">
                        	{% if form.old_password.errors %}	
								{{ form.old_password.errors }}
							{% endif %}	
                            <div class="col-lg-10 col-lg-offset-1 input-group">

                                <span class="input-group-addon">
                                	<i class="mdi-editor-insert-photo"></i>
                                </span>
                                 <input type="text" readonly="" class="form-control floating-label" placeholder="Seleccionar imagen...">
                				<input type="file" name="imagen" multiple="">
                            </div>
                        </div>
                        <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1 input-group">
                                        <br/>
                                        <span class="input-group-addon"><i class="mdi-action-account-box"></i></span>
                                       <input type="text" class="form-control floating-label" name="firstname" value='{{ user.firstname }}' placeholder="Nombres">
                                    </div>
                        </div>
                        {% if form.new_password2.errors %}
							{{ form.new_password2.errors }}
						{% endif %}
                        <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1 input-group">
                                        <br/>
                                        <span class="input-group-addon"><i class="mdi-action-account-box"></i></span>
                                       <input type="text" class="form-control floating-label" name="lastname" value='{{ user.lastname }}'placeholder="Apellidos">
                                    </div>
                        </div>
                         <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1 input-group">
                                        <br/>
                                        <span class="input-group-addon"><i class="mdi-hardware-phone-android"></i></span>
                                       <input type="text" class="form-control floating-label" name="telefono" value='{{ user.telefono }}' placeholder="Telefono">
                                    </div>
                        </div>
                         <div class="form-group">
                         	{% if form.email.errors %}
								{{ form.email.errors }}
							{% endif %}	
                                    <div class="col-lg-10 col-lg-offset-1 input-group">
                                        <br/>
                                        <span class="input-group-addon"><i class="mdi-communication-email"></i></span>
                                       <input type="email" class="form-control floating-label" name="email" value='{{ user.email }}' placeholder="Direccion de Correo">
                                    </div>
                        </div>
                        <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <button type="submit" class="btn  btn-sm btn-primary">
                                            Guardar Cambios  
                                            <span class="glyphicon glyphicon-save" ></span>
                                        </button>
                                    </div>
                        </div>

                    	</form>
                    	<div class="ui bottom attached warning message">
						  <i class="exchange icon"></i>
						  Cambiar Contraseña <a href="{% url 'actualizar_clave' %}">Aqui</a>. 
						</div>
					</div>

                </div>
            </div>

		</div>
	</div>
</div>

{% endblock contenido %}

{% block scripts %}
	<script>/*
        (function() {
            var form = document.querySelectorAll('form')[0],
                content = document.getElementById('content');
            form.addEventListener('invalid', function() {
                //alert('Some form fields are invalid!');
            });
           
            form.addEventListener('submitted', function(event) {
                 console.log(event.detail) 
                jsonRes = JSON.parse(event.detail.response)
                if (event.detail.status > 299) {
                    alert('Submission failed!  Please try again.')
                }
                else {
                   	e = jsonRes.errores                	
                	mensajes = JSON.parse(e)
                	console.log(mensajes.email[0].message)
                	if(!jsonRes.ok){           
                		document.querySelector('#contenido_dialogo').innerHTML = mensajes.email[0].message      
                    	document.querySelector('#dialog').open()
                    }
                }
            });
        }());*/
    </script>
{% endblock scripts %}