{% extends "base.html" %}

{% block titulo %}
	Cambio de Contraseña | Cuentas de Usuario
{% endblock titulo %}
{% block header %}
	Cambiar Contraseña
{% endblock header %}

{% block contenido %}
<ul class="breadcrumb" style="margin-bottom: 5px;">
    <li><a href="/">Inicio</a></li>
    <li><a href="{% url 'perfil' user %}">Mi Cuenta</a></li>
    <li class="active">Informacion de Acceso</li>
</ul>

<div class="container-fluid">
	
<div class="row">
  <div class="col-md-4 col-md-offset-4" >
  	  	<div class="panel panel-primary  shadow-z-2">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="privacy icon"></i>
					  <div class="content">
					    Cambiar Contraseña
					  </div>
                    </h3>
                </div>
                <div class="panel-body">
                    <form class="form-horizontal" method="post">
                                {% csrf_token %}

                        <div class="form-group ">
                        	{% if form.old_password.errors %}	
								{{ form.old_password.errors }}
							{% endif %}	
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                        <br/>

                                <span class="input-group-addon">
                                	<i class="mdi-action-lock"></i>
                                </span>
                                <input type="password" class="form-control floating-label" name="old_password" placeholder="Contraseña actual" required>
                            </div>
                        </div>
                        <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1 input-group">
                                        <br/>
                                        <span class="input-group-addon"><i class="mdi-action-lock"></i></span>
                                       <input type="password" class="form-control floating-label" name="new_password1" required placeholder="Nueva contraseña">
                                    </div>
                        </div>
                        {% if form.new_password2.errors %}
							{{ form.new_password2.errors }}
						{% endif %}
                        <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1 input-group">
                                        <br/>
                                        <span class="input-group-addon"><i class="mdi-action-lock"></i></span>
                                       <input type="password" class="form-control floating-label" name="new_password2" required placeholder="Confirma tu nueva contraseña">
                                    </div>
                        </div>
                        <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <button type="submit" class="btn  btn-sm btn-primary">
                                            Guardar Cambios  
                                            <span class="glyphicon glyphicon-save" ></span>
                                        </button>
                                    </div>
                        </div>

                    </form>

                </div>
                <div class="panel-footer">Sera necesario volver a iniciar sesion despues del cambio de tu contraseña</div>
        </div>
        

  </div>
</div>
</div>
{% endblock contenido %}
