	{% extends "base.html" %}
	{% load i18n %}
	{% block titulo %}
		Inicio de Sesion
	{% endblock titulo %}
	{% block header %}
		Login
	{% endblock header %}
	{% block contenido %}
		

<div class="ui stackable three column centered grid">
	<div class="four column centered row">
      <div class="column ui segment"></div>
      <div class="column ui segment"> </div>
    </div>

    <div class="column centered"> 
		
		<div class="ui horizontal divider">
			Bienvenido
		</div>
		<div >
						{% if form.non_field_errors %}
							<div class="ui error message">
								<div class="header"><i class="icon warning circle"></i> Tenemos un pequeño problema</div>
								<p>
									{% for error in  form.non_field_errors %}
										<!-- {{error}} -->{% trans error %}
									{% endfor %}
								</p>
							</div>					
						{% endif %}
			<paper-shadow class="card" z="2" animated>
					<form class="custom loginfrm card" method="POST" >
						{% csrf_token %}					
						
						<div class="column ">
							<div class="ui form segment">
								<div class="field">									
									<a class="ui teal right ribbon label"><i class="lock icon"></i>  Inicio de Sesion</a>	
									<label>Nombre de Usuario</label>
									<div class="ui left icon input ">
										<input type="text" placeholder="Ingresa tu nombre de usuario" name="username" required>		
										<i class="user icon"></i>
										<div class="ui corner yellow label">
									    	<i class="asterisk icon"></i>
									  	</div>
									</div>
								</div>
								<div class="field ">
									<label>Contraseña</label>
									<div class="ui left icon input ">
										<input type="password" name="password" required placeholder="Ingresa tu contraseña">
										<i class="lock icon"></i>
										<div class="ui corner yellow label">
									    	<i class="asterisk icon"></i>
									  	</div>
									</div>
								</div>
								
									<button class="ui blue right labeled icon button " type="submit">
										Autenticarme  <i class="unlock icon"></i>
													<paper-ripple fit></paper-ripple>
									</button>

								
							</div>
						</div>
					
					</form>
				</paper-shadow>
		</div>
		
    </div>    
  </div>
	
	{% endblock contenido %}
	{% block scripts %}
	{% endblock scripts %}