{% extends "base.html" %}

{% block titulo %}
Control de Cambios
{% endblock titulo %}

{% block include_statics %}



<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
 <script type="text/javascript" src="{{STATIC_URL}}js/asset/gridLocalization.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>


    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.filter.js"></script> 
       <script type="text/javascript" src="{{BOWER_URL}}moment/min/moment.min.js"></script> 

  <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>

{% endblock include_statics %}
{% block contenido %}
<div class="ui purple menu">
    <a class="item" href="/">
        <i class="home icon"></i> Inicio
    </a>
    <a class="active item" href="{% url 'cambios_list' %}">
        <i class="icon ion-settings"></i> Cambios.
    </a>
    <a class=" item" href="{% url 'cambio_add' %}">
        <i class=" add icon"></i> Nueva Cambio
    </a>
    	<a class=" item" href="{% url 'cambios_follow' %}">
		<i class=" add icon"></i> Seguimiento
	</a>
</div>
<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12" >
            <div id="jqxgrid"></div>
        </div>
    </div>
</div>



<div class="ui small modal" >
    <i class="close icon"></i>
    <div class="header">
      <i class="ion-ios-calendar icon"></i>Obtener Incidencias por rango de fechas
    </div>
    <div class="content">
        <div class="description">
          <h5>Selecciona desde cuando y hasta cuando buscar cambios</h5>
            
            <div id='filtroFecha'>
            </div>

        </div>
    </div>
    <div class="actions">
        <div class="ui positive left icon button">
            Buscar 
            <i class="ion-ios-search-strong icon"></i>
        </div>
        <div class="ui black button">
            Cancelar            
            <i class="ion-close-round icon"></i>
        </div>
    </div>
</div>

<div class="ui dimmer cargando">
    <div class="ui large text loader">
      Espere por favor...
    </div>
</div>
{% endblock contenido %}

{% block scripts %}

<script>

$(document).ready(function() {
    /*Inicializar el modal para filtrar*/
   

    $.getScript('{{STATIC_URL}}js/asset/globalize.culture.es-NI.js', function () {
        
        $("#filtroFecha").jqxDateTimeInput({ width: 250, height: 25,  selectionMode: 'range',culture: 'es-NI'});

    });

                var date1 = new Date();
                date1.setFullYear(2015, 5, 7);
                var date2 = new Date();
                date2.setFullYear(2015, 5, 15);
                $("#filtroFecha").jqxDateTimeInput('setRange', date1, date2);


    /*Inicializar Combos obteniendo los datos del api rest de catalogos*/
    function get_datos(parametros){
        if(!parametros)
            parametros = ""
         var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'titulo', type: 'string' },
                    { name: 'creado', type: 'date' },
                    { name: 'proposito', type: 'string' },
                    { name: 'creador', type: 'string' },
                    { name: 'nombre_solic', type: 'string' },
                    { name: 'nombre_resp', type: 'string' },
                    { name: 'reporta', type: 'string' },                  
                    { name: 'estado',},
                    { name: 'estado_titulo',},
                    { name: 'inicio_previsto',},

                   
                ],
                id: 'id',
                url: '/api/incidencias/cambios/'+parametros
            };
      var dataAdapter = new $.jqx.dataAdapter(source);
      return dataAdapter
    }


  $('.ui.modal').modal({
    closable:false,
    transition:'fade up',
    onApprove : function() {
        console.log("se enviara le peticion")
        var range = $("#filtroFecha").jqxDateTimeInput('getRange');
        var from =  moment(range.from).format("DD/MM/YYYY");
        var to =  moment(range.to).format("DD/MM/YYYY");
        console.log(from)
        $("#jqxgrid").jqxGrid({source: get_datos("?min_date="+from+"&max_date="+to),})
    }
 })   


  function relacionRender(row, columnfield, value, defaulthtml, columnproperties){
        div = "<div style='padding:5px;'>"
        
        if(value){
          return div + value+"</div>";
        }else{
          return div +"NINGUNA</div>";

        }
  }

    $("#jqxgrid").jqxGrid({

                width: '100%',
                theme:'metro', 
                source: get_datos(),
                showfilterrow: true,
                filterable: true,
                pageable: true,
                autoshowfiltericon: true,
                localization: getLocalization(),
                columns: [
                  { text: 'Camb. N&deg;', datafield: 'id', width:'60px'},
                  { text: 'Titulo', datafield: 'titulo', width:'200px'},
                  { text: 'Solicita', datafield: 'nombre_solic', width:'130px'},
                  { text: 'Resposnable', datafield: 'nombre_resp', width:'120px'},
                  { text: 'Proposito', datafield: 'proposito' , },                  
                  { text: 'Estado', datafield: 'estado_titulo', width:'120px'},
                  { text: 'Inicio Previsto', datafield: 'inicio_previsto', cellsformat:'dd-MMM-yy' , filtertype:'date' , width:'110px'},
                  { text: 'Usuario', datafield: 'creador', width:'60px'},
                  { text: 'Fecha', datafield: 'creado', cellsformat:'dd-MMM-yy' , filtertype:'date' , width:'110px'},

              ],
              showtoolbar: true,
              rendertoolbar: function (statusbar) {
                    // appends buttons to the status bar.
                    var container = $("<div style='margin:5px;'></div>");
                    var viewButton = $("<div class='ui  tiny blue button'>Detalles</div>");
                    var viewPdfButton = $("<div class='ui  tiny blue button'>Detalles PDF</div>");
                    var filterButton = $("<div class='ui  tiny purple button'>Filtrar Fechas</div>");
                    var reloadbtn = $("<div class='tiny green ui icon button reload'><i class='icon refresh'></i></div>");
                    var initButton = $("<div class='ui tiny green disabled button iniciar'>Iniciar Cambio(s)</div>");
                    var finishButton = $("<div class='ui tiny orange disabled button terminar'>Finalizar Cambio(s)</div>");

                    container.append(reloadbtn);
                    container.append(viewButton);
                    container.append(viewPdfButton);
                    container.append(filterButton);
                    container.append(initButton);
                    container.append(finishButton);
                    statusbar.append(container);


                     $(".ui.green.button.reload").jqxTooltip({
                       content: 'Recargar datos', 
                       position: 'top-right',
                      });
                   
                    // add new row.
                    viewButton.click(function (event) {
                      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                      var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                      if(id!=null){
                        var win = window.open('/incidencias/incidentes/reporte/detalle/'+id, '_blank');
                            win.focus(); 
                      }else{
                        $.snackbar({content: "<i class='ion-happy yellow icon'></i> Seleccione una fila por favor! ",timeout: 4000});
                      }
                       
                    });
                    // filter from server.
                    filterButton.click(function (event) {
                       $('.ui.modal').modal('show') 
                    });
                    reloadbtn.click(function (event) {
                      $("#jqxgrid").jqxGrid({source: get_datos(),})
                    });
                    initButton.click(function (event) {
                      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                      var row_id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                      $('.cargando').toggleClass('active');                      
                      $.ajax({
                          url: '/api/incidencias/cambios/'+row_id+'/',
                          type: 'PUT',
                          dataType: 'json',
                          data: { 
                            estado:2,
                          },
                        })
                        .done(function(data) {
                          $('.cargando').toggleClass('active');
                          $('.terminar').removeClass('disabled')
                          $('.iniciar').addClass('disabled');
                          $('#jqxgrid').jqxGrid('updaterow', row_id, data);
                          $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El perdiodo para el Cambio seleccionado fue iniciado!"});
                          console.log(data)
                        })
                        .fail(function(err) {
                          if(err.status=== 403){
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Aviso: "+ err.responseJSON.detail ,timeout: 8000});
                          }else{
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ err.status + ": "+err.statusText});
                          }
                          console.log(err)
                          $('.cargando').toggleClass('active');
                        })
                    });
                    finishButton.click(function (event) {
                      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                      var row_id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                      $('.cargando').addClass('active');
                      $.ajax({
                          url: '/api/incidencias/cambios/'+row_id+'/',
                          type: 'PUT',
                          dataType: 'json',
                          data: { 
                            estado:3,
                          },
                      })
                      .done(function(data) {
                                      $('.cargando').removeClass('active');
                                      $('.terminar').addClass('disabled')
                                      $('.iniciar').addClass('disabled');
                                      $('#jqxgrid').jqxGrid('updaterow', row_id, data);
                                      $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El periodo para el Cambio. seleccionado fue finalizado!"});
                      })
                      .fail(function(err) {
                                      if(err.status=== 403){
                                        $.snackbar({content: "<i class='lock red icon'></i> Aviso: "+ err.responseJSON.detail ,timeout: 6000});
                                      }else if(err.status=== 400){
                                          $.snackbar({content: "<i class='ion-android-warning yellow icon'></i> Error: "+ err.responseJSON.non_field_errors[0] ,timeout: 8000});
                                      }else{
                                        $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ err.status + ": "+err.statusText});
                                      }
                                      $('.cargando').removeClass('active');
                                      console.log(err)
                      })                 
                    });

                },
            });


  $('#jqxgrid').on('rowselect', function (event) 
  {

      var args = event.args;
      var rowBoundIndex = args.rowindex;
      var rowData = args.row;
      if(rowData.estado===2){
        $('.iniciar').addClass('disabled')
        $('.terminar').removeClass('disabled')
      }
      else if(rowData.estado===3 || rowData.estado===4){
        $('.iniciar, .terminar').addClass('disabled')
      }
      else{
        $('.iniciar').removeClass('disabled')
        $('.terminar').addClass('disabled')
      }
  });
 
});

</script>
    
{% endblock scripts %}