{% extends "base.html" %}

{% block titulo %}
Incidencias
{% endblock titulo %}

{% block include_statics %}


<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
 <script type="text/javascript" src="{{STATIC_URL}}js/asset/gridLocalization.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>


    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.filter.js"></script> 
       <script type="text/javascript" src="{{BOWER_URL}}moment/min/moment.min.js"></script> 

  <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>

{% endblock include_statics %}
{% block contenido %}
<div class="ui purple menu">
	<a class="item" href="/">
		<i class="home icon"></i> Inicio
	</a>
	<a class=" active item" href="{% url 'incidentes_list' %}">
		<i class="icon ion-settings"></i> incidencias.
	</a>
	 {% if perms.incidencias.add_incidencia %}
      <a class="item" href="{% url 'incidente_add' %}">
        <i class=" add icon"></i> Nueva incidencia
      </a>    
      <a class=" item" href="{% url 'incidentes_follow' %}">
          <i class=" add icon"></i> Seguimiento
      </a>
    {% endif %}
</div>

<div class="container-fluid">
    <div class="row">
        
        <div class="col-md-12" >
            <div id="jqxgrid"></div>
        </div>
    </div>
</div>


<!--MODAL PARA FILTRAR POR FECHA-->
<div class="ui small modal filtrar" >
    <i class="close icon"></i>
    <div class="header">
      <i class="ion-ios-calendar icon"></i>Obtener Incidencias por rango de fechas
    </div>
    <div class="content">
        <div class="description">
          <h5>Selecciona desde cuando y hasta cuando buscar incidentes</h5>
          	
          	<div id='filtroFecha'>
        	</div>

        </div>
    </div>
    <div class="actions">
        <div class="ui positive left icon button">
            Buscar 
            <i class="ion-ios-search-strong icon"></i>
        </div>
        <div class="ui black button">
            Cancelar            
            <i class="ion-close-round icon"></i>
        </div>
    </div>
</div>

<!--MODAL PARA CERRAR NOTA-->
<div class="ui small modal cerrarInc" >
    <i class="close icon"></i>
    <div class="header">
      <i class="ion-flash-off icon"></i>Dar incidente por cerrado
    </div>
    <div class="content">
        <div class="description">
          <h5>Agrega un breve descripcion de la solucion empleada para dar por cerrado el incidente</h5>

          <div class="ui form">
            <div class="field">
              <label>Descripcion</label>
              <textarea id='solucion'></textarea>
            </div>
          </div>
            
        </div>
    </div>
    <div class="actions">
        <div class="ui  left icon ok orange button disabled">
            Cerrar Incidencia 
            <i class="ion-flash-off icon"></i>
        </div>
        <div class="ui black button">
            Cancelar            
            <i class="ion-android-cancel icon"></i>
        </div>
    </div>
</div>

<div class="ui dimmer cargando">
    <div class="ui large text loader">
      Espere por favor...
    </div>
</div>
{% endblock contenido %}

{% block scripts %}

<script>

$(document).ready(function() {
    /*Inicializar el modal para filtrar*/
   

    $.getScript('{{STATIC_URL}}js/asset/globalize.culture.es-NI.js', function () {
        
        $("#filtroFecha").jqxDateTimeInput({ width: 250, height: 25,  selectionMode: 'range',culture: 'es-NI'});

    });

                var date1 = new Date();
                date1.setFullYear(2015, 5, 7);
                var date2 = new Date();
                date2.setFullYear(2015, 5, 15);
                $("#filtroFecha").jqxDateTimeInput('setRange', date1, date2);





    /*Inicializar Combos obteniendo los datos del api rest de catalogos*/
    function get_datos(parametros){
    	if(!parametros)
    		parametros = ""
    	 var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'problema', type: 'string' },
                    { name: 'creado', type: 'date' },
                    { name: 'tipo', type: 'string' },
                    { name: 'creador', type: 'string' },
                    { name: 'dispositivo', type: 'string' },
                    { name: 'serie', type: 'string' },
                    { name: 'reporta', type: 'string' },
                    { name: 'severidad',},
                    { name: 'paro_equipo',},
                    { name: 'estado',},
                    { name: 'estado_str',},
                    { name: 'relacion',}
                   
                ],
                id: 'id',
                url: '/api/incidencias/incidentes/'+parametros
            };
	  var dataAdapter = new $.jqx.dataAdapter(source);
	  return dataAdapter
    }


  $('.filtrar').modal({
    closable:false,
    transition:'fade up',
    onApprove : function() {
    	var range = $("#filtroFecha").jqxDateTimeInput('getRange');
	    var from =  moment(range.from).format("DD/MM/YYYY");
	    var to =  moment(range.to).format("DD/MM/YYYY");
    	$("#jqxgrid").jqxGrid({source: get_datos("?min_date="+from+"&max_date="+to),})
    }
 })   


  function relacionRender(row, columnfield, value, defaulthtml, columnproperties){
        div = "<div style='padding:5px;'>"
        
        if(value){
          return div + value+"</div>";
        }else{
          return div +"NINGUNA</div>";
        }
  }

  function inoperationRender(row, columnfield, value, defaulthtml, columnproperties){        
        if(value){
          return "<div style='padding:5px; color:#E91E63'>Si</div>";
        }else{
          return "<div style='padding:5px; color:#1B5E20'>No</div>";
        }
  }

    $("#jqxgrid").jqxGrid({

                width: '100%',
                theme:'metro', 
                source: get_datos(),
                showfilterrow: true,
                filterable: true,
                pageable: true,
                autoshowfiltericon: true,
                localization: getLocalization(),
                columns: [
                  { text: 'Inc. N&deg;', datafield: 'id', width:'60px'},
                  { text: 'Dispositivo', datafield: 'dispositivo', width:'100px'},
                  { text: 'Serie', datafield: 'serie' , width:'110px'},
                  { text: 'Tipo Incidente', datafield: 'tipo', width:'130px'},
                  { text: 'Paro', datafield: 'paro_equipo', width:'50px',cellsrenderer: inoperationRender},
                  { text: 'Reporta', datafield: 'reporta', width:'120px'},
                  { text: 'Severidad', datafield: 'severidad', width:'70px'},
                  { text: 'Problema', datafield: 'problema',  },
                  { text: 'Relacion', datafield: 'relacion', width:'75px', cellsrenderer:relacionRender},
                  { text: 'Estado', datafield: 'estado_str', width:'120px'},
                  
                  { text: 'Usuario', datafield: 'creador', width:'60px'},
                  { text: 'Fecha', datafield: 'creado', cellsformat:'dd-MMM-yy' , filtertype:'date' , width:'110px'},

              ],
              showtoolbar: true,
              rendertoolbar: function (statusbar) {
                    // appends buttons to the status bar.
                    var container = $("<div style='margin:5px;'></div>");
                    var viewButton = $("<div class='ui  tiny blue button'> Ver detalles</div>");
                    var filterButton = $("<div class='ui  tiny purple button'>Filtrar Fechas</div>");
                    var reloadbtn = $("<div class='tiny green ui icon button'><i class='icon refresh'></i></div>");
                    var cerrarBtn = $("<div class='tiny orange ui icon button disabled cerrar'><i class='icon ion-flash-off'></i>Cerrar Incidente</div>");

                    container.append(reloadbtn);
                    container.append(viewButton);
                    container.append(filterButton);
                    container.append(cerrarBtn);
                    statusbar.append(container);


                     $(".ui.green.button").jqxTooltip({
                       content: 'Recargar datos', 
                       position: 'top-right',
                      });
                   
                    // add new row.
                    viewButton.click(function (event) {
                      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                      var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                      if(id!=null){
                      	var win = window.open('/incidencias/incidentes/reporte/detalle/'+id, '_blank');
                      		win.focus(); 
                      }else{
                        $.snackbar({content: "<i class='ion-happy yellow icon'></i> Seleccione una fila por favor! ",timeout: 4000});
                      }
                       
                    });
                    // filter from server.
                    filterButton.click(function (event) {
                       $('.filtrar').modal('show') 
                    });
                    reloadbtn.click(function (event) {
                      $("#jqxgrid").jqxGrid({source: get_datos(),})
                    });
                    cerrarBtn.click(function (event) {
                      $('.cerrarInc').modal('show') 
                    });

                },
            });

  $('#jqxgrid').on('rowselect', function (event) 
  {

      var args = event.args;
      var rowBoundIndex = args.rowindex;
      var rowData = args.row;
      estado = rowData.estado;
      if(estado!=1){
        $(".cerrar").removeClass('disabled')
      }else{
        $(".cerrar").addClass('disabled')
      }

  });

  $('.cerrarInc').modal({
    closable:false,
    transition:'fade up',
    onApprove : function() {  
      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
      var row_id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
       $('.cargando').toggleClass('active');                      
          $.ajax({
                url: '/api/incidencias/incidentes/'+row_id,
                type: 'PUT',
                dataType: 'json',
                data: { 
                    estado:1,
                    desc: $("#solucion").val()
                },
          })
          .done(function(data) {
                          $('.cargando').toggleClass('active');
                          $('#jqxgrid').jqxGrid('updaterow', row_id, data);
                          $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i>Incidente cerrado con exito!"});
                          $(".cerrar").addClass('disabled')
                          console.log(data)
          })
          .fail(function(err) {
                          if(err.status=== 403){
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Aviso: "+ err.responseJSON.detail ,timeout: 6000});
                          }else{
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ err.status + ": "+err.statusText});
                          }
                          console.log(err)
                          $('.cargando').toggleClass('active');
          })
      
    }
 })   

    $("#solucion").keyup(function(event) {
      /* Act on the event */
      if($(this).val().length > 20){
        $('.ok.orange.button').removeClass('disabled')
      }else{
        $('.ok.orange.button').addClass('disabled')
      }
    });
 
});

</script>
	
{% endblock scripts %}