{% extends "base.html" %}
{% block titulo %}
    Nuevo Cambio
{% endblock titulo %}
{% block include_statics %}
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.energyblue.css" type="text/css" />

    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>

    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownbutton.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxwindow.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxnumberinput.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>



	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxeditor.js"></script>

{% endblock include_statics %}


{% block contenido %}
<div class="ui purple menu">
	<a class="item" href="/">
		<i class="home icon"></i> Inicio
	</a>
	<a class=" item" href="{% url 'cambios_list' %}">
		<i class="icon ion-settings"></i> Cambios.
	</a>
	<a class="active item" href="{% url 'cambio_add' %}">
		<i class=" add icon"></i> Nueva Cambio
	</a>
        <a class="item" href="{% url 'cambios_follow' %}">
        <i class=" add icon"></i> Seguimiento
    </a>
</div>

<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2" >
            <div class="panel panel-primary  shadow-z-2">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="ion-ios-loop-strong icon"></i>
                      <div class="content">
                        Registrar Nuevo Cambio
                      </div>                      
                    </h3>
                </div>
                <div class="panel-body">                  
                    <div class="col-md-10 col-sm-10 ">

                         <form id="form" class="form-horizontal" method="post">
                            {% csrf_token %}   
                            <div class="form-group">
                            	<label class="col-lg-3 control-label">Titulo</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-code-working"></i>
                                    </span>
                                    {{form.titulo}}
                                </div>
                            </div>

                            <div class="form-group">
                            	<label class="col-lg-3 control-label">Solicitante</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-person"></i>
                                    </span>
                                     <div id='id_solicitante' class="form-control"></div>
                                </div>
                            </div>
                             <div class="form-group">
                            	<label class="col-lg-3 control-label">Responsable</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-person"></i>
                                    </span>
                                     <div id='id_responsable' class="form-control"></div>
                                </div>
                            </div>

                            <div class="form-group">
                            	<label class="col-lg-3 control-label">Proposito</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-clipboard"></i>
                                    </span>
                                    {{form.proposito}}
                                </div>
                            </div>
                            <div class="form-group">
                            	<label class="col-lg-3 control-label"> {{form.inicio_previsto.label}}</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-calendar"></i>
                                    </span>
                                    <div id='inicio' class="form-control"></div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-lg-3 control-label">Servicios</label>
                                <div class="col-lg-9 input-group">
                                   <span class="input-group-addon">
                                        <i class="settings icon"></i>
                                    </span>
                                    <div id='servicios' class="form-control"></div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-lg-3 control-label">Dispositivos</label>
                                <div class="col-lg-9 input-group">
                                   <span class="input-group-addon">
                                        <i class="computer icon"></i>
                                    </span>
                                    <div id='dispositivos' class="form-control"></div>
                                </div>
                            </div>
                            <!-- 
                            <div class="form-group">
                            	<label class="col-lg-3 control-label"> {{form.estado.label}}</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-flag"></i>
                                    </span>
                                    {{form.estado}}
                                </div>
                            </div>

                            -->

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <button id="enviar" type="button" class="ui teal button">
                                        Guardar  &nbsp;
                                        <span class="glyphicon glyphicon-save" ></span>
                                    </button>
                                    <button id="limpiar" type="button" class="ui black button">
                                        Limpiar Campos  &nbsp;
                                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                    </button>
                                  
                                </div>
                            </div>

                        </form>
							<div class="progress hidden">
						      <div class="indeterminate"></div>
						</div>
                    </div>
                </div>
                
            </div>
    </div>
</div>
</div>


<div class="ui modal">
    <i class="close icon"></i>
    <div class="header">
      <i class="ion-ios-redo icon"></i>  Seguimiento 
    </div>
    <div class="content">
        <div class="description">
            <h5>El cambio fue alamcenado con exito</h5>
            Le gustaria agregar entrada al cambio registrado?
        </div>
    </div>
    <div class="actions">
        <div class="ui positive left icon button">
            Si, Por favor 
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black button">
            No, Gracias            
            <i class="ion-close-round icon"></i>
        </div>
    </div>
</div>
{% endblock contenido %}

{% block scripts %}
<script>
$(document).ready(function() {
	$("#id_titulo, #id_solicitante, #id_estado, #id_inicio_previsto, #id_responsable").addClass('form-control')

	$('#id_proposito').jqxEditor({
                width: '100%', theme:'energyblue',lineBreak:"br",
                tools:"bold italic underline  color background | left center right | outdent indent | ul ol | image | link | clean | html"
            });
var today = new Date();
var yesterday = new Date(today);
yesterday.setDate(today.getDate()-1);

    $("#inicio").jqxDateTimeInput({
        theme:'energyblue',min: yesterday, firstDayOfWeek: 1
    });
    
    
	var personalSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'nombre_completo'}
            ],
            url: '/api/catalogo/personal/'
        };
        var personalAdapter = new $.jqx.dataAdapter(personalSource);
    $("#id_responsable").jqxComboBox({ theme:'energyblue', promptText: "Quien efectuara el cambio...",source:personalAdapter, displayMember: 'nombre_completo',
    	 valueMember: 'id'});

    $("#id_solicitante").jqxComboBox({ theme:'energyblue', promptText: "Quien solicita el cambio...",source:personalAdapter, displayMember: 'nombre_completo',
    	 valueMember: 'id'});

    var dispositivoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name:'posicion_logica'},
                { name:'serie'}
            ],
            url: '/api/inventario/dispositivos/'
        };
        var dispositivoAdap = new $.jqx.dataAdapter(dispositivoSource);

     $("#dispositivos").jqxComboBox({ theme:'energyblue', promptText: "Dispositivos que podrian ser afectados...",  source: dispositivoAdap, displayMember: 'posicion_logica', valueMember: 'id', multiSelect:true, width:'100%'});
     var servicioSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name:'nombre'},
            ],
            url: '/api/inventario/servicios/'
        };
        var servicioAdap = new $.jqx.dataAdapter(servicioSource);

     $("#servicios").jqxComboBox({ theme:'energyblue', width:'100%',
     	promptText: "Que servicios podrian ser afectados...",  source: servicioAdap, displayMember: 'nombre', valueMember: 'id', multiSelect:true});

    $("#enviar").on('click',  function(event) {
        event.preventDefault();
         $('#form').jqxValidator('validate');
    });

  	$("#limpiar").on('click',  function(event) {
        event.preventDefault();
        //$('#dialog').click();

        document.getElementById("form").reset();
    });

 $('.ui.modal').modal({
    closable:false,
    onApprove : function() {
      location.href='/incidencias/cambios/seguimiento/'
    }
 })


$('#form').jqxValidator({
                rules: [
                    {
                      input: '#id_solicitante', message: 'Campo requerido', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val() === "") {
                                   return false;
                               }
                               return true;
                           }
                    },
                    {
                      input: '#id_responsable', message: 'Campo requerido', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val() === "") {
                                   return false;
                               }
                               return true;
                           }
                    },
                     { input: '#id_titulo', message: 'Campo requerido', action: 'blur, keyup', 
                    	 rule: 'required'
                     },

                ],
                 arrow: false

            });

function get_selected_items(id){
    items = $(id).jqxComboBox('getSelectedItems'); 
    selection = new Array()
                    $.each(items, function (index) {
                        selection.push(this.value)
                    });
    return selection  
}

  $('#form').on('validationSuccess', function (event) { 
       
     $(".progress").toggleClass( "hidden" );
     setTimeout(function(){
        $.ajax({
            url: '/incidencias/cambios/agregar/',
            type: 'POST',
            data: {                
                titulo: $("#id_titulo").val(),
                'dispositivos[]': get_selected_items("#dispositivos"),
                'servicios[]':get_selected_items("#servicios"),
                solicitante: $("#id_solicitante").val(),
                responsable: $("#id_responsable").val(),
                proposito: $("#id_proposito").val(),
                estado:1,
                inicio_previsto: $("#inicio").val(),

            },
        })
        .done(function(data) {
            
            if(data.success){
                //$.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El cambio fue alamcenado con exito!"});
                document.getElementById("form").reset();
                $(".form-control").jqxComboBox('clearSelection');
                //$(".progress").css("visibility", "hidden")
                $(".progress").toggleClass( "hidden" );
                $('.ui.modal').modal('show')

            }
            else{
                //$(".progress").css("visibility", "hidden")
                  $(".progress").toggleClass( "hidden" );
                var mensaje = "<ul>";
                for(var i=0;i<data.errores.length;i++){
                    e = data.errores[i]
                    mensaje +="<li>"+ e[0]+": "+ e[1] +"</li>"
                }
                mensaje += "</ul>"
                $.snackbar({content: "<h5 style='color:yellow'><i class='ion-android-warning yellow icon'></i> Se encontraron los siguientes inconvenientes: </h5>"+mensaje, timeout: 0 });

            }
        })
        .fail(function(e) {
            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ e.status + ": "+e.statusText});
            console.log(e)
            // $(".progress").css("visibility", "hidden")
              $(".progress").toggleClass( "hidden" );
        })
        
        },600)   
        /* Act on the event */
    });



});
</script>
{% endblock scripts %}