{% extends "base.html" %}
{% block include_statics %}
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />

    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>

    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownbutton.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxwindow.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxnumberinput.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>



	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxeditor.js"></script>

{% endblock include_statics %}
{% block contenido %}
<div class="ui purple menu">
	<a class="item" href="/">
		<i class="home icon"></i> Inicio
	</a>
	<a class=" item" href="{% url 'cambios_list' %}">
		<i class="icon ion-settings"></i> Cambios.
	</a>
	<a class=" item" href="{% url 'cambio_add' %}">
		<i class=" add icon"></i> Nueva Cambio
	</a>
	<a class="active item" href="{% url 'cambios_follow' %}">
		<i class=" add icon"></i> Seguimiento
	</a>
</div>
	<div class="progress hidden">
						      <div class="indeterminate"></div>
						</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2" >
            <div class="panel panel-primary  shadow-z-2">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="ion-ios-redo  icon"></i>
                      <div class="content">
                        Registrar seguimiento de un Cambio
                      </div>                      
                    </h3>
                </div>
                <div class="panel-body">                  
                    <div class="col-md-10 col-sm-10 ">

                         <form id="form" class="form-horizontal" method="post">
                            {% csrf_token %}   
                            <div class="form-group">
                            	<label class="col-lg-3 control-label">Cambio</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-code-working"></i>
                                    </span>
                                     <div id='id_cambio' class="form-control"></div>
                                </div>
                            </div>                           

                            <div class="form-group">
                            	<label class="col-lg-3 control-label">Descripcion</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-clipboard"></i>
                                    </span>
                                    {{form.descripcion}}
                                    <div class="ui bottom right attached label">{{form.descripcion.help_text}}</div>
                                </div>
                            </div>

                             <div class="form-group">
                                <label class="col-lg-3 control-label">
                                	{{form.paro_operacion.label}}
                                </label>
                                <div class="col-lg-9 input-group">
                                   <span class="input-group-addon">
                                        <i class="ion-android-hand icon"></i>
                                    </span>
                                    <div class="togglebutton">
        					                    <label>
        					                        {{form.paro_equipo}} Indica si fue necesario detener el equipo
        					                    </label>
        					                </div>
                                </div>
                            </div>
                            <div class="form-group">
                              	<label class="col-lg-3 control-label">Tiempo de paro (min)</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                        <i class="ion-ios-stopwatch icon"></i>
                                    </span>
                                    <div id='tiempo' class="form-control"></div>
                                </div>
                            </div>

                            <div class="form-group">
                            	<label class="col-lg-3 control-label"> {{form.inicio_actividad.label}}</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-calendar"></i>
                                    </span>
                                    <div id='inicio' class="form-control"></div>
                                </div>
                            </div>
                             <div class="form-group">
                            	<label class="col-lg-3 control-label"> {{form.fin_actividad.label}}</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-calendar"></i>
                                    </span>
                                    <div id='fin' class="form-control"></div>
                                </div>
                            </div>
                           
                           


                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <button id="enviar" type="button" class="ui teal button">
                                        Guardar  &nbsp;
                                        <span class="glyphicon glyphicon-save" ></span>
                                    </button>
                                    <button id="limpiar" type="button" class="ui black button">
                                        Limpiar Campos  &nbsp;
                                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                    </button>
                                  
                                </div>
                            </div>

                        </form>
						
                    </div>
                </div>
                
            </div>
    </div>
</div>
</div>
{% endblock contenido %}

{% block scripts %}
<script>
$(document).ready(function() {
		var today = new Date();
    var yesterday = new Date(today);
    yesterday.setDate(today.getDate()-1);
    var yesterday2 = new Date(yesterday);
    yesterday2.setTime(yesterday2.getTime() + 60000);

      $("#inicio").jqxDateTimeInput({
          theme:'metro',min: yesterday, firstDayOfWeek: 1,formatString: "dd/MM/yyyy HH:mm ",
      });
 
      $("#fin").jqxDateTimeInput({
          theme:'metro',min: yesterday2, firstDayOfWeek: 1,formatString: "dd/MM/yyyy HH:mm ",
      });

      $('#inicio ').jqxDateTimeInput('setDate', yesterday);
      $('#fin ').jqxDateTimeInput('setDate', yesterday2);

      $('#inicio').on('valueChanged', function (event){  
          var val = event.args.date; 
          min = new Date(val)
          min.setDate(val.getDate())
          min.setTime(min.getTime() + 60000);
          $('#fin ').jqxDateTimeInput('setMinDate',min);
      });

		$('#id_descripcion').jqxEditor({
                width: '100%', theme:'metro',lineBreak:"br",
                tools:"bold italic underline  color background | left center right | outdent indent | ul ol | image | link | clean | html"
            });

  	$("#tiempo").jqxNumberInput({ 
  		spinButtons: true, min: 0,
  		theme:'metro',inputMode: 'simple',
  		 decimalDigits: 0, disabled: true 
  		 });

  	$("#id_paro_equipo").change(function(event) {
  		/* Act on the event */
  		if($(this).is(":checked")) {
  			$("#tiempo").jqxNumberInput({disabled: false,min: 1 });
  			$('#tiempo').jqxNumberInput('val', 1);
  		}else{
  			$("#tiempo").jqxNumberInput({disabled: true, min: 0});
  			$('#tiempo').jqxNumberInput('clear');
  		}
  	});
  	var cambioSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'titulo'}
            ],
            url: '/api/incidencias/cambios/'
        };
        var cambioAdapter = new $.jqx.dataAdapter(cambioSource);

    $("#id_cambio").jqxComboBox({ theme:'metro', promptText: "A que cambio se relaciona la actividad...", source:cambioAdapter, displayMember: 'titulo', valueMember: 'id', width:'90%'});


$('#form').jqxValidator({
                rules: [
                    {
                      input: '#id_cambio', message: 'Campo requerido', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val() === "") {
                                   return false;
                               }
                               return true;
                           }
                    },
                    {
                      input: '#id_descripcion', message: 'Campo requerido', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val().trim().length <= 6) {
                                   return false;
                               }
                               return true;
                           }
                    }
                ],
                 arrow: false

            });

function get_selected_items(id){
    items = $(id).jqxComboBox('getSelectedItems'); 
    selection = new Array()
                    $.each(items, function (index) {
                        selection.push(this.value)
                    });
    return selection  
}

  $('#form').on('validationSuccess', function (event) { 
       
     $(".progress").toggleClass( "hidden" );
     setTimeout(function(){
        $.ajax({
            url: '/incidencias/cambios/seguimiento/',
            type: 'POST',
            data: {                
                cambio: $("#id_cambio").val(),
                descripcion: $("#id_descripcion").val(),
                paro_equipo: $("#id_paro_equipo").is(':checked'),
                duracion_paro: $("#tiempo").val(),
                inicio_actividad:$("#inicio").val(),
                fin_actividad: $("#fin").val(),

            },
        })
        .done(function(data) {
            
            if(data.success){
                $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El cambio fue alamcenado con exito!"});
                document.getElementById("form").reset();
                $(".form-control").jqxComboBox('clearSelection');
                $(".progress").toggleClass( "hidden" );
               // $('.ui.modal').modal('show')

            }
            else{
                //$(".progress").css("visibility", "hidden")
                  $(".progress").toggleClass( "hidden" );
                var mensaje = "<ul>";
                for(var i=0;i<data.errores.length;i++){
                    e = data.errores[i]
                    mensaje +="<li>"+ e[0]+": "+ e[1] +"</li>"
                }
                mensaje += "</ul>"
                $.snackbar({content: "<h5 style='color:yellow'><i class='ion-android-warning yellow icon'></i> Se encontraron los siguientes inconvenientes: </h5>"+mensaje, timeout: 0 });

            }
        })
        .fail(function(e) {
            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ e.status + ": "+e.statusText});
            console.log(e)
            // $(".progress").css("visibility", "hidden")
              $(".progress").toggleClass( "hidden" );
        })
        
        },600)   
        /* Act on the event */
    });

$("#enviar").on('click',  function(event) {
        event.preventDefault();
         $('#form').jqxValidator('validate');
    });

  	$("#limpiar").on('click',  function(event) {
        event.preventDefault();
        //$('#dialog').click();

        document.getElementById("form").reset();
    });


});
</script>
{% endblock scripts %}