{% extends "base.html" %}

{% block include_statics %}
    <script src="{{BOWER_URL}}w2ui/w2ui-1.4.2.min.js"></script>
    <link rel="stylesheet" href="{{STATIC_URL}}w2ui-1.4.2.mod.css">
{% endblock include_statics %}

{% block contenido %}



<div id="form" style="width:700px; margin-left:50px" class="shadow-z-1">
    <div class="w2ui-page page-0">
        <div class="w2ui-field">
            <label>Titulo de la tarea:</label>
            <div>
                <input name="first_name" type="text" maxlength="100"  size="60"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>Duracion estimada:</label>
            <div>
                <input name="last_name"  min="0" type="number" maxlength="100" placeholder="Duracion en minutos" size="60"/>
            </div>
        </div>
        <div class="w2ui-field">
            <label>Materiales necesarios:</label>
            <div>
                <textarea name="comments"  type="text" style="width: 100%; height: 80px; resize: none"></textarea>
            </div>
        </div>

            <div class="w2ui-field">
            <label>Materiales necesarios:</label>
            <div>
                <input type="file" id="file" name="imagen" multiple="">
            </div>
        </div>
        
    </div>

    <div class="w2ui-buttons">
        <button class="ui teal button" name="save"><i class="file icon"></i>Guardar</button>
        <button class="ui black button" name="reset">Limpiar</button>
    </div>
</div>
	
{% endblock contenido %}


{% block scripts %}

<script>
$(function () {
    	$('#form').w2form({ 
        name   : 'form',
        header : 'Agregar nueva tarea',
        url    : 'server/post',
        fields : [
            { field: 'first_name', type: 'text', required: true },
            { field: 'last_name',  type: 'number', required: true },
            { field: 'comments',   type: 'text'},
        ],

        actions: {
            reset: function () {
                this.clear();
            },
            save: function () {
                this.save();
            }
        }
    	});
    	$('#file').w2field('file', {});
});
</script>





<div style="height: 20px"></div>
<div class="w2ui-field">
    <label>Multi-Select:</label>
    <div> <input id="enum" class="form-control"> </div>
</div>
<div style="height: 10px"></div>
<div class="w2ui-field">
    <label>Max 2 Items:</label>
    <div> <input id="enum-max"> </div>
</div>
<div style="height: 10px"></div>
<div class="w2ui-field">
    <label>Custom:</label>
    <div> <input id="enum-custom"> </div>
</div>
<div style="height: 20px"></div>

<style>
.w2ui-field input {
    width: 400px;
}
.w2ui-field > div > span {
    margin-left: 20px;
}
</style>

<script type="text/javascript">
var pstyle = 'padding-right: 3px; color: #828AA7; text-shadow: 1px 1px 3px white;';
var people = [{ id: 1, text: 'John Adams2' }, { id: 2, text: 'John Adams3' }, { id: 3, text: 'John Adams4' }, ];
$('#enum').w2field('enum', {
    items: people,
    openOnFocus: true,
    //selected: [{ id: 0, text: 'John Adams' }, { id: 0, text: 'Thomas Jefferson' }]
});
$('#enum-max').w2field('enum', {
    items: people,
    openOnFocus: true,
    max: 2
});
$('#enum-custom').w2field('enum', {
    items: people,
    openOnFocus: true,
    onAdd: function (event) {
        if (Math.random() > 0.8) {
            event.item.style = 'background-color: rgb(255, 232, 232); border: 1px solid red;';
        }
    },
    renderItem: function (item, index, remove) {
        var html = remove + '<span class="fa-trophy" style="'+ pstyle +'; margin-left: -4px;"></span>' + item.text;
        return html;
    },
    renderDrop: function (item, options) {
        return '<span class="fa-star" style="'+ pstyle +'"></span>' + item.text;
    }
});
// if you need to get to the selected items, use:
// $('#id').data('selected');
</script>

	
{% endblock scripts %}