<div class="navbar shadow-z-1 navbar-fixed-top ui top attached" >
   
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <i class="mdi-navigation-more-vert"></i>
        </button>

        <a class="navbar-brand" href="#">Sala Tecnica</a>
    </div>
    {% if user.is_authenticated %}            
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="toggle"><a href="javascript:void(0)"></a></li>
                    <li class="dropdown" style="margin-right:20px">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-wrench" aria-hidden="true"></span> Mantto<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'tarea_add' %}">Tarea</a></li>
                        <li><a href="{% url 'actualizar_clave' %}">Rutina</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin">Programacion</a></li>
                        <li><a href="{% url 'logout' %}">Boletas</a></li>
                    </ul>
                </li>               
            </ul>
          
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-sm hidden-xs"> 
                  <img class="ui top aligned avatar image" style="margin-top:15px" src="{{MEDIA_URL}}{{user.imagen}}">                
                </li>
                <li class="dropdown" style="margin-right:20px">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'perfil' user %}">Mi cuenta</a></li>
                        <li><a href="{% url 'actualizar_clave' %}">Cambiar contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin">Administracion</a></li>
                        <li><a href="{% url 'logout' %}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
</div>