<div class="navbar shadow-z-1 navbar-fixed-top ui top attached" >
    {% if user.is_authenticated %}  
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-responsive-collapse">
            <i class="mdi-navigation-more-vert"></i>
        </button>

        <a class="navbar-brand" href="#"><i class="icon ion-ios-people"></i> Sala Tecnica</a>
    </div>
             
        <div class="navbar-collapse collapse navbar-responsive-collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown" >
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Inventario<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'dispositivos_list' %}">Dispositivos</a></li>
                        <li><a href="{% url 'servicios_list' %}">Servicios</a></li>
                        <li><a href="{% url 'componentes_list' %}">Componentes</a></li>                        
                    </ul>
                </li> 
                <li class="dropdown" >
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Mantenimientos<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- <li><a href="{% url 'tareas_list' %}">Tareas</a></li> -->
                        <li><a href="{% url 'rutinas_list' %}">Rutinas</a></li>
                        <li><a href="{% url 'planes_list' %}">Planes</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'boletas_list' %}">Boletas</a></li>
                    </ul>
                </li> 
                <li class="dropdown" >
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Incidencias<b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'incidentes_list' %}">Incidentes</a></li>
                        <li><a href="{% url 'cambios_list' %}">Cambios</a></li>
                        <li class="divider"></li>
                        <li><a href="{% url 'cambios_follow' %}">Seguimiento de Cambio</a></li>
                        <li><a href="{% url 'incidentes_follow' %}">Seguimiento de Incidente</a></li>
                    </ul>
                </li>
                <li class="dropdown" >
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">
                        Gestion Red <b class="caret"></b>
                        <span class="gestion_menu ui red circular label">0</span>
                    </a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'hosts_list' %}">Hosts</a></li>
                        <li>
                            <a href="{% url 'boot_list' %}">Eventos de Arranque  <span class="ui red circular label gestion_boot">0</span>
                            </a>
                        </li>
                        <li><a href="{% url 'general_list' %}">Eventos Generales <span class="ui purple circular label gestion_general">0</span></a></li>
                    </ul>
                </li>
                 
            </ul>
          
            <ul class="nav navbar-nav navbar-right">
                <li class="hidden-sm hidden-xs"> 
                  <img class="ui top aligned avatar image" style="margin-top:15px" src="{{MEDIA_URL}}{{user.imagen}}">                
                </li>
                <li class="dropdown" style="margin-right:20px">
                    <a href="bootstrap-elements.html" data-target="#" class="dropdown-toggle" data-toggle="dropdown">{{user}} <b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li><a href="{% url 'perfil' user %}">Mi cuenta</a></li>
                        <li><a href="{% url 'actualizar_clave' %}">Cambiar contraseña</a></li>
                        <li class="divider"></li>
                        <li><a href="/admin">Administracion</a></li>
                        <li><a href="{% url 'logout' %}">Salir</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    {% endif %}
</div>