

body { padding-top: 70px;}

.tealColor{
	background-color: #009688;
	color: white;
}
.pinkColor{
	background-color: #E91E63;
	color: white;
}
.cyanColor{
	background-color: #00BCD4;
	color: white;
}



.link{
	text-decoration: none;
	color:white;
}
.link:hover {
    color: white;
    text-decoration: none;
}
.errorlist{
	color: #C51162;
	font-style: italic;
	font-size: 12px;
}
