table , td {
    border: 0px solid #80DEEA;
    border-collapse: collapse;
}
td {
    padding: 5px;
    text-align: center;
}


.table_heading{
padding: 3px;	
}

.teal{
	background-color: #009688;
	color: white;
}