<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block titulo %}   {% endblock titulo %} </title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon">
    <link rel="stylesheet" href="{{BOWER_URL}}semantic-ui/dist/semantic.css">
    
    <link rel="stylesheet" href="{{STATIC_URL}}css/estilos.css">

 <!--Import materialize.css-->
    <link href="{{BOWER_URL}}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{BOWER_URL}}bootstrap-material-design/dist/css/roboto.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="{{BOWER_URL}}bootstrap-material-design/dist/css/material.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="{{BOWER_URL}}bootstrap-material-design/dist/css/ripples.min.css"  media="screen,projection"/>


    <script src="{{BOWER_URL}}jquery/dist/jquery.min.js"></script>
    <script src="{{BOWER_URL}}semantic-ui/dist/semantic.min.js"></script>    

    {% block include_statics %}
        
    {% endblock include_statics %}

</head>
<body >

<div class="contain-to-grid sticky">
    {% include "includes/nav_bar.html" %}
</div>

  
    {% block contenido %}

    {% endblock contenido %}

    <script src="{{BOWER_URL}}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{BOWER_URL}}bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="{{BOWER_URL}}bootstrap-material-design/dist/js/material.min.js"></script>

    <script>
        $(document).ready(function() {  
                $.material.init();               
        });
    </script>


    
</body>

{% block scripts %}

{% endblock scripts %}
</html>