<!DOCTYPE html>
<html lang='es'>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{% block titulo %}   {% endblock titulo %} </title>
    <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes">

    <link rel="shortcut icon" href="{{STATIC_URL}}images/favicon.ico" type="image/x-icon">
    <link href="{{STATIC_URL}}css/ionicons.min.css" rel="stylesheet" type="text/css" />
    <link rel="stylesheet" href="{{BOWER_URL}}semantic-ui/dist/semantic.min.css">
    <link rel="stylesheet" href="{{BOWER_URL}}snackbarjs/dist/snackbar.min.css">
    <!--Import materialize.css-->
    <link href="{{BOWER_URL}}bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{BOWER_URL}}bootstrap-material-design/dist/css/roboto.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="{{BOWER_URL}}bootstrap-material-design/dist/css/material.min.css"  media="screen,projection"/>
    <link rel="stylesheet" href="{{BOWER_URL}}bootstrap-material-design/dist/css/ripples.min.css"  media="screen,projection"/>

    <link rel="stylesheet" href="{{STATIC_URL}}css/todo.min.css">
    <link rel="stylesheet" type="text/css" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" />
    <link rel="stylesheet" href="{{BOWER_URL}}kc_fab/dist/css/kc.fab.css"/>
 
    <script src="{{BOWER_URL}}jquery/dist/jquery.min.js"></script>
    <script src="{{BOWER_URL}}jquery-cookie/jquery.cookie.js"></script>
    <script src="{{BOWER_URL}}semantic-ui/dist/semantic.min.js"></script>    
    <script src="{{BOWER_URL}}snackbarjs/dist/snackbar.min.js"></script>
    <script src="{{STATIC_URL}}js/dist/1.js"></script>

  
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
     <!--Import materialize.css
      <link type="text/css" rel="stylesheet" href="{{BOWER_URL}}materialize/dist/css/materialize.css"  media="screen,projection"/>
      <script type="text/javascript" src="http://127.0.0.1:8500/socket.io/socket.io.js"></script>
<
     <script type="text/javascript" src="https://104.236.23.248:7076/socket.io/socket.io.js"></script>

-->
<script type="text/javascript" src="http://104.236.23.248:8500/socket.io/socket.io.js"></script>

    {% block include_statics %}
        
    {% endblock include_statics %}

</head>
<body >

<div class="contain-to-grid sticky">
    {% include "includes/nav_bar.html" %}
</div>

  
    {% block contenido %}

    {% endblock contenido %}

 {% if user.is_authenticated %}
    {% if perms.incidencias.add_incidencia %}
        <div class="kc_fab_wrapper" >
        </div>
    {% endif %}
 {% endif %}

    <script src="{{BOWER_URL}}bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="{{BOWER_URL}}bootstrap-material-design/dist/js/ripples.min.js"></script>
    <script src="{{BOWER_URL}}bootstrap-material-design/dist/js/material.min.js"></script>
     <script src="{{STATIC_URL}}js/dist/kc.fab.js"></script>
    <script src="{{STATIC_URL}}js/dist/ioMain.js"></script>
    <script src="{{STATIC_URL}}js/dist/todo.min.js"></script>
    <script>
        $(document).ready(function() {
             

                $.material.init();
                var links = [
                    {
                        "bgcolor":"#F44336",
                        "icon":"<i class='icon ion-ios-plus-empty'></i>"
                    },
                    {
                        "id":"fb_device",
                        "url":"/inventario/dispositivos/agregar/",
                        "bgcolor":"#2196F3",
                        "color":"white",
                        "icon":"<i class='icon ion-ios-monitor'></i>"
                    },
                    {
                        "id":"fb_plan",
                        "url":"/mantto/planes/agregar/",
                        "bgcolor":"#00BCD4",
                        "color":"#fffff",
                        "icon":"<i class='icon ion-calendar'></i>",
                        //"target":"_blank"
                    },
                    {
                        "id":"fb_mantto",
                        "url":"/mantto/boletas/agregar/",
                        "bgcolor":"#607D8B",
                        "color":"#fffff",
                        "icon":"<i class='icon ion-ios-briefcase' data-title='Matt' data-content='Matt has been a member since July 2014'></i>",
                        //"target":"_blank"
                    },
                    {
                        "id":"fb_incident",
                        "url":"/incidencias/incidentes/agregar/",
                        "bgcolor":"orange",
                        "color":"white",
                        "icon":"<i class='icon ion-flash'></i>"
                    }
                ]
                $('.kc_fab_wrapper').kc_fab(links);

                 $("#fb_device").jqxTooltip({ content: 'Nuevo Dispositivo', position: 'left',});
                 $("#fb_plan").jqxTooltip({ content: 'Nuevo Plan de Mantto', position: 'left',});
                 $("#fb_mantto").jqxTooltip({ content: 'Nueva Boleta de Trabajo', position: 'left',});
                 $("#fb_incident").jqxTooltip({ content: 'Nuevo Incidente', position: 'left',});
                 //$(".button-collapse").sideNav();
        });
    </script>


    
</body>

<script src="{{BOWER_URL}}semantic-ui/dist/semantic.min.js" type="text/javascript"></script>

{% block scripts %}

{% endblock scripts %}
</html>