{% extends "base.html" %}
{% block titulo %}
	Inicio
{% endblock titulo %}

{% block header %}
	Inicio
{% endblock header %}

{% block include_statics %}
    <script src="{{BOWER_URL}}jquery-knob/dist/jquery.knob.min.js"></script>
{% endblock include_statics %}

{% block contenido %}

<br>
<div class="container-fluid">
<div class="row">   
    <div class="col-md-10 col-md-offset-1"> 
        <div class="panel panel-default">
            <div class="panel-body">                
                <div class="row">
                    <div class="col-md-3">
                        <div class="panel panel-danger">
                            <div class="panel-heading">
                                <div class="row" style='color:white'>
                                    <div class="col-xs-3">
                                        <i class="icon ion-flash" style='font-size:50px;margin-top:15px'></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div style='font-size:40px;'>{{inc_pendiente}}</div>
                                        <div>Incidencias Pendientes</div>
                                    </div>
                                </div>
                            </div>                       
                        </div>

                    </div>

                    <div class="col-md-3">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <div class="row" style='color:white'>
                                    <div class="col-xs-3">
                                        <i class="icon ion-ios-calendar-outline" style='font-size:50px;margin-top:15px'></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div style='font-size:40px;'>{{mantto_programado}}</div>
                                        <div>Mantto. Programado</div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-success">
                            <div class="panel-heading">
                                <div class="row" style='color:white'>
                                    <div class="col-xs-3">
                                        <i class="icon ion-settings" style='font-size:50px;margin-top:15px'></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div style='font-size:40px;'>{{mantto_progreso}}</div>
                                        <div>Mantto. en Progreso</div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="panel panel-info">
                            <div class="panel-heading">
                                <div class="row" style='color:white'>
                                    <div class="col-xs-3">
                                        <i class="icon ion-ios-lightbulb" style='font-size:50px;margin-top:15px'></i>
                                    </div>
                                    <div class="col-xs-9 text-right">
                                        <div style='font-size:40px;'>{{camb_programado}}</div>
                                        <div>Cambio Programado</div>
                                    </div>
                                </div>
                            </div>                       
                        </div>
                    </div>
                </div>
            </div>
        </div>
        
        <div class="panel panel-default">
            <div class="panel-body">
                Basic panel
            </div>
        </div>
        
    </div>
</div>
</div>



{% endblock contenido %}

{% block scripts %}
<script type="text/javascript">
    $(document).ready(function() {
        $(".dial").knob({
            readOnly:true,            
        });
    });
</script>
{% endblock scripts %}

