{% extends "base.html" %}

{% block titulo %}
Nuevo Plan de Mannto.
{% endblock titulo %}
{% block include_statics %}
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />

    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>

    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
  

{% endblock include_statics %}
{% block contenido %}
<div class="ui purple menu">
	<a class="item" href="/">
		<i class="home icon"></i> Inicio
	</a>
	<a class=" item" href="{% url 'planes_list' %}">
		<i class="icon ion-settings"></i>  Planes de Mantto.
	</a>
	<a class="active item" href="{% url 'plan_add' %}">
		<i class=" add icon"></i> Nueva Planificacion
	</a>
</div>

	<div class="progress hidden">
      <div class="indeterminate"></div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2" >
            <div class="panel panel-primary  shadow-z-2">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="ion-android-calendar icon"></i>
                      <div class="content">
                        Planificar Mantenimiento
                      </div>                      
                    </h3>
                </div>
                <div class="panel-body">                  
                    <div class="col-md-10 col-sm-10 ">

                         <form id="form" class="form-horizontal" method="post">
                            {% csrf_token %}   
                            <div class="form-group">
                            	<label class="col-lg-3 control-label">Rutina</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-clipboard"></i>
                                    </span>
                                    <div id='rutina' class="form-control"></div>
                                </div>
                            </div>
                              <div class="form-group">
                              	<label class="col-lg-3 control-label">Fecha Inicio</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                        <i class="ion-android-calendar icon"></i>
                                    </span>
                                    <div id='fecha_inicio' class="form-control"></div>
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-lg-3 control-label">Personal</label>
                                <div class="col-lg-9 input-group">
                                   <span class="input-group-addon">
                                        <i class="icon ion-ios-people"></i>
                                    </span>
                                    <div id='personal' class="form-control"></div>
                                </div>
                            </div>
                              <div class="form-group">
                                <label class="col-lg-3 control-label">Responsable</label>
                                <div class="col-lg-9 input-group">
                                   <span class="input-group-addon">
                                        <i class="icon ion-person"></i>
                                    </span>
                                    <div id='responsable' class="form-control"></div>
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <button id="enviar" type="button" class="ui teal button">
                                        Guardar  &nbsp;
                                        <span class="glyphicon glyphicon-save" ></span>
                                    </button>
                                    <button id="limpiar" type="button" class="ui black button">
                                        Limpiar Campos  &nbsp;
                                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>
                </div>
                
            </div>
    </div>
</div>
</div>

{% endblock contenido %}


{% block scripts %}
<script>
$(document).ready(function() {

	function get_selected_items(){
    items = $("#personal").jqxComboBox('getSelectedItems'); 
    selection = new Array()
                    $.each(items, function (index) {
                        selection.push(this.value)
                    });
    return selection  
}

  var rutinaSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'titulo'}
            ],
            url: '/api/mantto/rutinas/'
        };
        var rutinaAdapter = new $.jqx.dataAdapter(rutinaSource);

    $("#rutina").jqxComboBox({ theme:'metro', promptText: "Rutina a planificar...", source:rutinaAdapter, displayMember: 'titulo', valueMember: 'id', width:'90%'});

    var personalSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'nombre_completo'}
            ],
            url: '/api/catalogo/personal/'
        };
        var personalAdapter = new $.jqx.dataAdapter(personalSource);

    $("#personal").jqxComboBox({ theme:'metro', promptText: "Personal involucrado...", source:personalAdapter, displayMember: 'nombre_completo', valueMember: 'id', multiSelect:true, width:'90%'});

    $("#responsable").jqxComboBox({ theme:'metro', promptText: "Responsable...", source:personalAdapter, displayMember: 'nombre_completo', valueMember: 'id', width:'90%'});

     $('#form').jqxValidator({
                rules: [
                    {
                      input: '#rutina', message: 'Indique la rutina a programar', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val() === "") {
                                   return false;
                               }
                               return true;
                           }
                    },
                    {
                      input: '#responsable', message: 'Indique al responsable de la rutina', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val() === "") {
                                   return false;
                               }
                               return true;
                           }
                    },
                    {
                      input: '#personal', message: 'Seleccione al menos una persona', action: 'keyup, blur', rule: function (input, commit) {
                      			valores = get_selected_items()
                               if (valores.length < 1 ) {
                                   return false;
                               }
                               return true;
                           }
                    },
                ],
                 arrow: false

            });



    $("#fecha_inicio").jqxDateTimeInput({
        theme:'metro', formatString: "dd/MM/yyyy hh:mm",
        min: new Date(), firstDayOfWeek: 1
    });
    
    

    $.getScript('{{STATIC_URL}}js/asset/globalize.culture.es-NI.js', function () {
        $("#fecha_inicio").jqxDateTimeInput({ culture: 'es-NI' });
    });

    $("#enviar").on('click',  function(event) {
        event.preventDefault();
         $('#form').jqxValidator('validate');
    });

  $("#limpiar").on('click',  function(event) {
        event.preventDefault();
        document.getElementById("form").reset();
    });

  $('#form').on('validationSuccess', function (event) { 
        $(".progress").toggleClass( "hidden" );

     setTimeout(function(){
        $.ajax({
            url: '/mantto/planes/agregar/',
            type: 'POST',
            data: {                
                rutina: $("#rutina").val(),
                responsable: $("#responsable").val(),
                fecha_inicio_prevista: $("#fecha_inicio").val(),
                'personal[]': get_selected_items()
            },
        })
        .done(function(data) {
            
            if(data.success){
                $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El plan fue alamcenado con exito!"});
                document.getElementById("form").reset();
                $(".form-control").jqxComboBox('clearSelection');
                //$(".progress").css("visibility", "hidden")
                  $(".progress").toggleClass( "hidden" );
            }
            else{
                //$(".progress").css("visibility", "hidden")
                  $(".progress").toggleClass( "hidden" );
                var mensaje = "<ul>";
                for(var i=0;i<data.errores.length;i++){
                    e = data.errores[i]
                    mensaje +="<li>"+ e[0]+": "+ e[1] +"</li>"
                }
                mensaje += "</ul>"
                $.snackbar({content: "<h5 style='color:yellow'><i class='ion-android-warning yellow icon'></i> Se encontraron los siguientes inconvenientes: </h5>"+mensaje, timeout: 0 });

            }
        })
        .fail(function(e) {
            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ e.status + ": "+e.statusText});
            console.log(e)
            // $(".progress").css("visibility", "hidden")
              $(".progress").toggleClass( "hidden" );
        })
        
        },600)   
        /* Act on the event */
    });


});
</script>
{% endblock scripts %}