{% extends "base.html" %}
{% block titulo %}
    Nueva Boleta/Ticket de Mantto.
{% endblock titulo %}
{% block include_statics %}
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />

    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>

    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownbutton.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxwindow.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxnumberinput.js"></script>
	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>



	<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxeditor.js"></script>

{% endblock include_statics %}

{% block contenido %}
<div class="ui purple menu">
	<a class="item" href="/">
		<i class="home icon"></i> Inicio
	</a>
	<a class=" item" href="{% url 'boletas_list' %}">
		<i class="icon ion-settings"></i>  Boletas.
	</a>
	<a class="active item" href="{% url 'boleta_add' %}">
		<i class=" add icon"></i> Nueva Boleta.
	</a>
</div>

	<div class="progress hidden">
      <div class="indeterminate"></div>
</div>


<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2" >
            <div class="panel panel-primary  shadow-z-2">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="ion-android-archive icon"></i>
                      <div class="content">
                        Ingresar boleta de trabajo
                      </div>                      
                    </h3>
                </div>
                <div class="panel-body">                  
                    <div class="col-md-10 col-sm-10 ">

                         <form id="form" class="form-horizontal" method="post">
                            {% csrf_token %}   
                            <div class="form-group">
                            	<label class="col-lg-3 control-label" >Dispositivo</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                       <i class="icon ion-clipboard"></i>
                                    </span>
                                    <div id='dispositivo' class="form-control"></div>
                                </div>
                            </div>
                             <div class="form-group">
                              	<label class="col-lg-3 control-label">Plan</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                        <i class="ion-android-calendar icon"></i>
                                    </span>
                                    <div id='plan' class="form-control"></div>
                                </div>
                            </div>
                             <div class="form-group">
                              	<label class="col-lg-3 control-label">Tipo mantto.</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                        <i class="fork icon"></i>
                                    </span>
                                    {{form.tipo}}
                                </div>
                            </div>
                             <div class="form-group">
                                <label class="col-lg-3 control-label">
                                	{{form.paro_operacion.label}}
                                </label>
                                <div class="col-lg-9 input-group">
                                   <span class="input-group-addon">
                                        <i class="ion-android-hand icon"></i>
                                    </span>
                                    <div class="togglebutton">
        					                    <label>
        					                        {{form.paro_operacion}} Indica si fue necesario detener el equipo
        					                    </label>
        					                </div>
                                </div>
                            </div>
                            <div class="form-group">
                              	<label class="col-lg-3 control-label">Tiempo de paro (min)</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                        <i class="ion-ios-stopwatch icon"></i>
                                    </span>
                                    <div id='tiempo' class="form-control"></div>
                                </div>
                            </div>
                              <div class="form-group">
                                <label class="col-lg-3 control-label">{{form.descripcion.label}}</label>
                                <div class="col-lg-9 input-group">
                                   <span class="input-group-addon">
                                        <i class="icon ion-document-text"></i>
                                    </span>
                                   {{form.descripcion}}
                                   <div class="ui bottom right attached label">{{form.descripcion.help_text}}</div>
                                   
                                </div>
                            </div>
                             <div class="form-group">
                              	<label class="col-lg-3 control-label">Estado</label>
                                <div class="col-lg-9 input-group">
                                    <span class="input-group-addon">
                                        <i class="ion-ios-flag icon"></i>
                                    </span>
                                    <div id='estado' class="form-control"></div>
                                </div>
                            </div>
                            

                            <div class="form-group">
                                <div class="col-lg-10 col-lg-offset-1">
                                    <button id="enviar" type="button" class="ui teal button" >
                                        Guardar  &nbsp;
                                        <span class="glyphicon glyphicon-save" ></span>
                                    </button>
                                    <button id="limpiar" type="button" class="ui black button">
                                        Limpiar Campos  &nbsp;
                                        <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                    </button>
                                </div>
                            </div>

                        </form>

                    </div>

                </div>
                
            </div>
    </div>
</div>
</div>

<!---->
<div class="ui dimmer">
    <div class="ui text loader"> <i class="ion-ios-stopwatch icon"></i> Espere un momento por favor...
    		<div class="progress">
			      <div class="indeterminate"></div>
			</div>
    </div>
</div>
{% endblock contenido %}


{% block scripts %}
<script>
$(document).ready(function() {
	$("#id_tipo").addClass('form-control')

	function get_selected_items(){
    items = $("#personal").jqxComboBox('getSelectedItems'); 
    selection = new Array()
                    $.each(items, function (index) {
                        selection.push(this.value)
                    });
    return selection  
  }

  var dispositivoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name:'posicion_logica'},
                { name:'serie'},
                { name:'sistema_id'}
            ],
            url: '/api/inventario/dispositivos/'
        };
        var dispositivoAdap = new $.jqx.dataAdapter(dispositivoSource);

     $("#dispositivo").jqxComboBox({ theme:'metro', promptText: "Selecciona el dispositivo...",  source: dispositivoAdap, displayMember: 'posicion_logica', valueMember: 'id'});
	

    $('#dispositivo').on('select', function (event) 
        {
            var args = event.args;
            if (args) {
                var item = args.item;
                // get item's label and value.
                var value = item.value;
                var sist = item.originalItem.sistema_id
                var planSource =
                    {
                          dataType: "json",
                          dataFields: [
                              { name: 'id'},
                              { name:'plan_programado'},
                          ],
                          url: '/api/mantto/planes/?estado=2&rutina__sistema='+ sist
                    };
                    
                var PlanAdap = new $.jqx.dataAdapter(planSource);
                $("#plan").jqxComboBox({source: PlanAdap, disabled: false});


            }
        }); 


     $("#plan").jqxComboBox({ theme:'metro', promptText: "Selecciona plan de mantto correspondiente...(opcional)",  displayMember: 'plan_programado', disabled: true,
     	valueMember: 'id', width:"100%"});
	
	var estadoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/estado_ope/'
        };
        var estadoAdapter = new $.jqx.dataAdapter(estadoSource);

     $("#estado").jqxComboBox({ theme:'metro', promptText: "Estado operacional al finalizar...", 
        source: estadoAdapter,displayMember: 'text', valueMember: 'id', width:'100%'});



     $('#form').jqxValidator({
                rules: [
                    {
                      input: '#dispositivo', message: 'Es requerido que indiques un dispositivo', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val() === "") {
                                   return false;
                               }
                               return true;
                           }
                    },
                    {
                      input: '#estado', message: 'Campo requerido', action: 'keyup, blur', rule: function (input, commit) {
                               if (input.val() === "") {
                                   return false;
                               }
                               return true;
                           }
                    },
                    { input: '#id_descripcion', message: 'Campo requerido', action: 'blur, keyup', 
                    	 rule: function (input, commit) {
                               if (input.val().trim().length <= 6) {
                                   return false;
                               }
                               return true;
                           }
                     },
                ],
                 arrow: false

            });

  	$("#tiempo").jqxNumberInput({ 
  		spinButtons: true, min: 0,
  		theme:'metro',inputMode: 'simple',
  		 decimalDigits: 0, disabled: true 
  		 });

  	$("#id_paro_operacion").change(function(event) {
  		/* Act on the event */
  		if($(this).is(":checked")) {
  			$("#tiempo").jqxNumberInput({disabled: false,min: 1 });
  			$('#tiempo').jqxNumberInput('val', 1);
  		}else{
  			$("#tiempo").jqxNumberInput({disabled: true, min: 0});
  			$('#tiempo').jqxNumberInput('clear');
  		}
  	});

    $('#id_descripcion').jqxEditor({
                width: '100%', theme:'metro',lineBreak:"br",
                tools:"bold italic underline  color background | left center right | outdent indent | ul ol | image | link | clean | html"
            });

    $("#enviar").on('click',  function(event) {
        event.preventDefault();
         $('#form').jqxValidator('validate');
    });

  $("#limpiar").on('click',  function(event) {
        event.preventDefault();
        document.getElementById("form").reset();
    });

  $('#form').on('validationSuccess', function (event) { 
       
     $(".progress").toggleClass( "hidden" );
     setTimeout(function(){
        $.ajax({
            url: '/mantto/boletas/agregar/',
            type: 'POST',
            data: {                
                dispositivo: $("#dispositivo").val(),
                orden: $("#plan").val(),
                tipo: $("#id_tipo").val(),
                paro_operacion: $("#id_paro_operacion").is(':checked'),
                descripcion: $("#id_descripcion").val(),
                tiempo_paro:$("#tiempo").val(),
                estado_final:$("#estado").val(),
            },
        })
        .done(function(data) {
            
            if(data.success){
                $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El registro fue almacenado con exito!"});
                document.getElementById("form").reset();
                $(".form-control").jqxComboBox('clearSelection');
                $(".progress").toggleClass( "hidden" );
                $("#tiempo").jqxNumberInput({disabled: true, min: 0});
            }
            else{
                //$(".progress").css("visibility", "hidden")
                  $(".progress").toggleClass( "hidden" );
                var mensaje = "<ul>";
                for(var i=0;i<data.errores.length;i++){
                    e = data.errores[i]
                    mensaje +="<li>"+ e[0]+": "+ e[1] +"</li>"
                }
                mensaje += "</ul>"
                $.snackbar({content: "<h5 style='color:yellow'><i class='ion-android-warning yellow icon'></i> Se encontraron los siguientes inconvenientes: </h5>"+mensaje, timeout: 0 });

            }
        })
        .fail(function(e) {
            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ e.status + ": "+e.statusText});
            console.log(e)
            // $(".progress").css("visibility", "hidden")
              $(".progress").toggleClass( "hidden" );
        })
        
        },600)   
        /* Act on the event */
    });


});
</script>
{% endblock scripts %}