{% extends "base.html" %}
{% block titulo %}
Nuevo Tarea de Mantenimiento.
{% endblock titulo %}

{% block include_statics %}
    <link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
 <script type="text/javascript" src="{{STATIC_URL}}js/asset/gridLocalization.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
     <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.filter.js"></script> 
     <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.sort.js"></script>

{% endblock include_statics %}



{% block contenido %}
   <div class="ui purple menu">
  <a class="item" href="/">
    <i class="home icon"></i> Inicio
  </a>
  <a class=" item" href="{% url 'rutinas_list' %}">
    <i class="icon ion-settings"></i>  Rutinas
  </a>
  <a class=" item" href="{% url 'rutina_add' %}">
    <i class=" add icon"></i> Nueva Rutina
  </a>
    <a class=" active blue item" href="{% url 'tarea_add' %}">
            <i class=" add icon"></i> Agregar Tarea
    </a>
    </div>
        
<div class="progress hidden">
      <div class="indeterminate"></div>
</div>
<div class="container-fluid">
<div class="row">
    <div class="col-md-8 col-md-offset-2" >
            <div class="panel panel-primary  shadow-z-1">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="edit icon"></i>
                      <div class="content">
                        Ingresar Tarea
                      </div>                      
                    </h3>
                </div>
                <div class="panel-body">                  
                    <div class="col-md-10 col-sm-10 ">                        
                            <div class="form-group">
                                <div class="col-lg-11 col-lg-offset-1 input-group">
                                   <span class="input-group-addon">
                                        <i class="list icon"></i>
                                    </span>
                                    <div id='rutina' class="form-control"></div>
                                </div>
                            </div>                          
                    </div>
                      <div class="col-md-12 "> 
                            <div class="form-group">
                                                            
                              <div class="row">
                                <div class="col-md-5">
                                  <div class="col-lg-11 col-lg-offset-1 input-group">
                                    <span class="input-group-addon">
                                       Nombre
                                    </span>
                                    <input type="text" class='form-control nombre'>
                                  </div>
                                </div>
                                <div class="col-md-5">
                                  <div class="col-lg-11 col-lg-offset-1 input-group">
                                    <span class="input-group-addon">
                                       Valor Ref.
                                    </span>
                                    <input type="text" class='form-control valor'>
                                  </div>
                                </div>
                                <div class="col-md-2">
                                  <div class="col-lg-11 col-lg-offset-1 input-group">
                                    <div class="ui teal button agregar disabled">Agregar</div>
                                  </div>
                                </div>
                              </div>
                            </div>
                            
                            <div id="jqxgrid"></div>
                           
                    </div>
                     
                </div>
                
            </div>
    </div>
</div>
</div>

{% endblock contenido %}


{% block scripts %}
<script>
    $(document).ready(function() {
        var rutinasSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'titulo'}
            ],
            url: '/api/mantto/rutinas/'
        };
        var rutinaAdap = new $.jqx.dataAdapter(rutinasSource);

     $("#rutina").jqxComboBox({ theme:'metro', promptText: "Seleccione un rutina", 
        source: rutinaAdap, displayMember: 'titulo', valueMember: 'id', width: '300px' });


    $('#rutina').on('select', function (event) 
    {
          var args = event.args;
          if (args) {
          var item = args.item;
          var value = item.value;
          var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'nombre', type: 'string' },
                    { name: 'valor_ref', type: 'string' },
                ],
                id: 'id',
                url: '/api/mantto/tareas/?rutina='+value
            };
          var dataAdapter = new $.jqx.dataAdapter(source);
          $("#jqxgrid").jqxGrid({source:dataAdapter});
          $('.agregar').removeClass('disabled')
        }
    }); 


        $("#jqxgrid").jqxGrid(
            {
                width:'100%',
                pageable: true,
                height: 250 ,
                altrows: true,
                enabletooltips: true,
                localization: getLocalization(),
                columns: [
                  { text: 'Nombre de la Tarea', datafield: 'nombre', width:'50%',},
                  { text: 'Valor de Referencia', datafield: 'valor_ref',width:'50%', },  
              ],
            });

    $('.agregar').click(function(event) {
    /* Act on the event */
        nombre = $('.nombre').val()
        valor = $('.valor').val()
        rutina =  $('#rutina').val()
        if(nombre.length > 2 && valor.length > 2 )
        {
          if(rutina>0){
            $.ajax({
              url: '/api/mantto/tareas/',
              type: 'POST',
              dataType: 'json',
              data: {
                nombre: nombre,
                valor_ref: valor,
                rutina: rutina
              },
            })
            .done(function(data) {
              $('#jqxgrid').jqxGrid('addrow', null, data);
              $('.valor, .nombre').val("")
            })
            .fail(function(err) {
              console.log(err);
              $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ err.status + ": "+err.statusText});
            })           

              var commit = $("#jqxgrid").jqxGrid('addrow', null, null);
          }
          else{
             $.snackbar({content: "<i class='ion-happy yellow icon'></i> Selecciona a que rutina asociar la tarea por favor!",timeout: 5000});
          }
        }
        else{
           $.snackbar({content: "<i class='ion-happy yellow icon'></i> Es necesario indicar valores para ambos campos (minimo 3 caracteres) ",timeout: 5000});
        }
    });


    });
</script>	
{% endblock scripts %}