{% extends "base.html" %}
{% block include_statics %}


<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
 <script type="text/javascript" src="{{STATIC_URL}}js/asset/gridLocalization.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>


    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.filter.js"></script> 
  <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.edit.js"></script>
   <script type="text/javascript" src="{{BOWER_URL}}moment/min/moment.min.js"></script> 
 

{% endblock include_statics %}
{% block titulo %}
    Planes de Mannto.
{% endblock titulo %}


{% block contenido %}
<div class="ui purple menu">
	<a class="item" href="/">
		<i class="home icon"></i> Inicio
	</a>
	<a class="active item" href="{% url 'planes_list' %}">
		<i class="icon ion-settings"></i>  Planes de Mantto.
	</a>
	<a class="item" href="{% url 'plan_add' %}">
		<i class=" add icon"></i> Nueva Planificacion
	</a>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" >

            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="ui items">
                    <div class="item">
                      <a class="ui small image">
                        <img src="{{STATIC_URL}}images/mantenimiento2.png">
                      </a>
                      <div class="content">
                        <a class="header" style='text-decoration:none'>Mantenimiento</a>
                        <div class="description">
                          <p> Todas las acciones que tienen como objetivo mantener un artículo o restaurarlo a un estado en el cual pueda llevar a cabo alguna función requerida. Estas acciones incluyen la combinación de las acciones técnicas y administrativas correspondientes.
                           </p>
                        </div>

                      </div>
                    </div>
                  </div>

                </div>

            </div>

            <div id="jqxgrid">
            </div>
        </div>
    </div>
</div>


{% comment %}
  Segmento html oculto para mensajes y menu
{% endcomment %}
<div class="ui dimmer cargando">
    <div class="ui large text loader">
      Espere por favor...
    </div>
</div>


<div class="ui modal finalizar">
    <i class="close icon"></i>
    <div class="header">
      <i class="ion-ios-calendar icon"></i>  Finalizar Mantenimiento 
    </div>
    <div class="content">
        <div class="description">
          <h5>Esta seguro de dar por terminado el mantenimiento seleccionado?</h5>
          No se podran asociar mas boletas de trabajo al mantenimiento correspondiente
        </div>
    </div>
    <div class="actions">
        <div class="ui positive left icon button">
            Si, Teminar 
            <i class="checkmark icon"></i>
        </div>
        <div class="ui black button">
            No, Cancelar            
            <i class="ion-close-round icon"></i>
        </div>
    </div>
</div>

{% if user.is_staff %}
  <div id='Menu' class='hidden'>
        <ul>
            <li id='menu1'>Cancelar Mantenimiento</li>
        </ul>
  </div>
{% endif %}

{% endblock contenido %}


{% block scripts %}

<script>

$(document).ready(function() {
    /*Inicializar Combos obteniendo los datos del api rest de catalogos*/
$('#Menu').removeClass('hidden')

 
  var estadoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id',type: 'int'},
                { name: 'nombre'}
            ],
            url: '/api/catalogo/estado_mantto/'
        };
        var estadoAdapter = new $.jqx.dataAdapter(estadoSource);

  var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'rutina', type: 'string' },
                    { name: 'inicio_estimado', type: 'date' },
                    { name: 'fin_estimado', type: 'date' },
                    { name: 'inicio', type: 'date' },
                    { name: 'fin', type: 'date' },
                    { name: 'estado_string' },
                    { name: 'estado' },
                ],
                id: 'id',
                url: '/api/mantto/planes/',              
            };
  var dataAdapter = new $.jqx.dataAdapter(source);

  function dateRender(row, columnfield, value, defaulthtml, columnproperties){
        var data = $('#jqxgrid').jqxGrid('getrowdata', row);
        if(value){
          div = "<div style='padding:5px;'>"
          return div + moment(value).format("DD-MM-YYYY HH:mm")+"</div>";
        }
  }

  $("#jqxgrid").jqxGrid({

                width: '100%',
                theme:'metro', 
                source: dataAdapter,
                showfilterrow: true,
                altrows: true,
                filterable: true,
                pageable: true,               
                autoshowfiltericon: true,
                localization: getLocalization(),
                columns: [
                  { text: 'Plan', datafield: 'rutina', width:"20%",editable: false },
                  { text: 'Inicio Previsto', datafield: 'inicio_estimado',filtertype:'date',   width:"16%", cellsformat:'dd-MM-yy H:mm',},
                  { text: 'Fin Previsto', datafield: 'fin_estimado', filtertype:'date' ,width:"16%", cellsformat:'dd-MM-yy H:mm',},
                  { text: 'Inicio Real', datafield: 'inicio', filtertype:'date', width:"16%", cellsformat:'dd-MM-yy H:mm',cellsrenderer: dateRender
                  },
                  { text: 'Fin Real', datafield: 'fin', filtertype:'date', width:"16%", cellsformat:'dd-MM-yy H:mm', cellsrenderer: dateRender},
                  { text: 'Estado', datafield: 'estado_string',   filtertype:'list', width:"16%"},
        ],
        showtoolbar: true,
        rendertoolbar: function (statusbar) {
                    // appends buttons to the status bar.
                    var container = $("<div style='margin:5px;'></div>");
                    var viewButton = $("<div class='ui  tiny teal button'> Detalles PDF</div>");
                    var listButton = $("<div class='ui tiny blue button'>Listado PDF</div>");
                    var initButton = $("<div class='ui tiny green disabled button iniciar'>Iniciar Mantto</div>");
                    var finishButton = $("<div class='ui tiny orange disabled button terminar'>Finalizar mantto</div>");

                    container.append(viewButton);
                    container.append(listButton);
                    container.append(initButton);
                    container.append(finishButton);
                    statusbar.append(container);
                   
                    // add new row.
                    viewButton.click(function (event) {
                      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                      var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                      if(id!=null){
                        var win = window.open('/mantto/planes/reportes/detalle/'+id, '_blank');
                        win.focus(); 
                      }else{
                        $.snackbar({content: "<i class='ion-happy yellow icon'></i> Seleccione una fila por favor! ",timeout: 4000});
                      }
                    });
                    // list selected row.
                    listButton.click(function (event) {
                      var win = window.open('/mantto/planes/reportes/listado/',
                       '_blank');
                      win.focus(); 
                    });
                    initButton.click(function (event) {
                      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                      var row_id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                      var hoy = moment().format("YYYY-MM-DD HH:mm");
                      $('.cargando').toggleClass('active');                      
                      $.ajax({
                          url: '/api/mantto/planes/'+row_id,
                          type: 'PUT',
                          dataType: 'json',
                          data: { 
                            estado:2,
                            inicio: hoy
                          },
                        })
                        .done(function(data) {
                          $('.cargando').toggleClass('active');
                          $('.terminar').removeClass('disabled')
                          $('.iniciar').addClass('disabled');
                          $('#jqxgrid').jqxGrid('updaterow', row_id, data);
                          $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El perdiodo para el Mantto. seleccionado fue iniciado!"});
                          console.log(data)
                        })
                        .fail(function(err) {
                          if(err.status=== 403){
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error: "+ err.responseJSON.detail ,timeout: 4000});
                          }else{
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ err.status + ": "+err.statusText});
                          }
                          console.log(err)
                          $('.cargando').toggleClass('active');
                        })
                    });
                    finishButton.click(function (event) {
                      $('.ui.modal').modal('show')                    
                    });
            },
        });


$('.ui.modal.finalizar').modal({
    closable:false,
    onApprove : function() {
          var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
          var row_id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
          var hoy = moment().format("YYYY-MM-DD HH:mm");
          $('.cargando').addClass('active');
          $.ajax({
              url: '/api/mantto/planes/'+row_id,
              type: 'PUT',
              dataType: 'json',
              data: { 
                estado:4,
                fin: hoy
              },
          })
          .done(function(data) {
                          $('.cargando').removeClass('active');
                          $('.terminar').addClass('disabled')
                          $('.iniciar').addClass('disabled');
                          $('#jqxgrid').jqxGrid('updaterow', row_id, data);
                          $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El periodo para el Mantto. seleccionado fue finalizado!"});
          })
          .fail(function(err) {
                          if(err.status=== 403){
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error: "+ err.responseJSON.detail ,timeout: 6000});
                          }else if(err.status=== 400){
                              $.snackbar({content: "<i class='ion-android-warning yellow icon'></i> Error: "+ err.responseJSON.non_field_errors[0] ,timeout: 8000});
                          }else{
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ err.status + ": "+err.statusText});
                          }
                          $('.cargando').removeClass('active');
                          console.log(err)
          })
    }
 })   

try{

  $('#jqxgrid').on('rowselect', function (event) 
  {

      var args = event.args;
      var rowBoundIndex = args.rowindex;
      var rowData = args.row;
      if(rowData.estado===2){
        $('.iniciar').addClass('disabled')
        $('.terminar').removeClass('disabled')
      }
      else if(rowData.estado===4 || rowData.estado===5){
        $('.iniciar, .terminar').addClass('disabled')
      }
      else{
        $('.iniciar').removeClass('disabled')
        $('.terminar').addClass('disabled')
      }
  });
   // create context menu
      var contextMenu = $("#Menu").jqxMenu({ width: 200, autoOpenPopup: false, mode: 'popup'});
  //evitar el menu contextual del navegador
      $("#jqxgrid").on('contextmenu', function () {
          return false;
      });

     // handle context menu clicks.
      $("#Menu").on('itemclick', function (event) {
                  //var args = event.args;
                 // menu_id = $(args).attr('id')
              var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
              var row_id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
              $('.cargando').toggleClass('active');
                      
              $.ajax({
                          url: '/api/mantto/planes/'+row_id,
                          type: 'PUT',
                          dataType: 'json',
                          data: { 
                            estado:5,
                          },
              })
              .done(function(data) {
                          $('.cargando').toggleClass('active');
                          $('.terminar').addClass('disabled')
                          $('.iniciar').addClass('disabled');
                          $('#jqxgrid').jqxGrid('updaterow', row_id, data);
                          $.snackbar({content: "<i class='ion-android-checkmark-circle green icon'></i> El periodo para el Mantto. seleccionado fue cancelado!"});
              })
              .fail(function(err) {
                          if(err.status=== 403){
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error: "+ err.responseJSON.detail,timeout: 4000 });
                          }else{
                            $.snackbar({content: "<i class='ion-android-warning red icon'></i> Error "+ err.status + ": "+err.statusText});
                          }
                          $('.cargando').toggleClass('active');
              })
      });
      $("#jqxgrid").on('rowclick', function (event) {
    

        if (event.args.rightclick ) {
                      $("#jqxgrid").jqxGrid('selectrow', event.args.rowindex);
                      var data = $('#jqxgrid').jqxGrid('getrowdata', event.args.rowindex);
                      if(data.estado===1){
                      var scrollTop = $(window).scrollTop();
                      var scrollLeft = $(window).scrollLeft();
                      contextMenu.jqxMenu('open', parseInt(event.args.originalEvent.clientX) + 5 + scrollLeft, parseInt(event.args.originalEvent.clientY) + 5 + scrollTop);
                      }
                      return false;
        }

      });

}catch(err) {
   console.log( err.message)
}
 

});

</script>

{% endblock scripts %}