{% extends "report_base.html" %}




{% block contenido %}
<style>
	.titulo_inc{
		background-color:#FFEB3B;
		border: none;
	}
	.titulo_mtto{
		background-color:#607D8B;
		border: none;
		color: white
	}
	.sub_titulo_mtto{
		background-color:#90A4AE;
		border: none;
		color: white
	}
	
	.sub_titulo_inc{
		background-color:#FFF176;
		border: none;
	}
	.sub_titulo_inc2{
		background-color:#FFF9C4;
		border: none;
	}
	.sub_titulo_mtto2{
		background-color:#CFD8DC;
		border: none;
		color: #424242
	}
</style>

<table style="font-family: roboto; border-bottom: 1px solid #004D40; color:#004D40">
			<tr>
				<th style="width:65% ; text-align:left">
					<h1>HISTORIAL DE MANTENIMIENTOS MAS RECIENTES</h1>
				</th>
				<th style="width:35%; text-align:right">
					<h1>{{dispositivo}}</h1>
				</th>
			</tr>
</table>	


    <h2 style="color:#33691E;">Datos Generales </h2>
    <div>

		<table style="width:100%; border: double 1px #BDBDBD;">
			<tr>
				<td colspan="6" style="background-color:#2196F3; color:white">
				 <strong>	{{dispositivo.tipo}}</strong>
				</td>
			</tr>
			<tr>
			    <th style="text-align:right; width:30%">Marca:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px">{{dispositivo.marca}} </td>
			    <th style="text-align:right; width:15%">Modelo:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px">{{dispositivo.modelo}}</td>	
			    <th style="text-align:right; width:25%">Num. de Serie:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px">{{dispositivo.serie}}</td>	
			</tr>
			<tr>			    
			    <th style="text-align:right;">Num. de Inventario:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px">{{dispositivo.inventario}}</td>		
			    <th style="text-align:right;%">Estado:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px">{{dispositivo.estado}}</td>	
			    <th style="text-align:right;%">Sistema:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px">{{dispositivo.sistema}}</td>	
			</tr>
			<tr>			    
			    <th style="text-align:right;" >Ubicacion:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px" colspan="2">{{dispositivo.edificio}} / {{dispositivo.oficina}}</td>
			    <th style="text-align:right;" >Instalado:&nbsp; </th>
			    <td style="text-align:left;padding-left:5px" colspan="2">
			    	{{dispositivo.instalacion | date:"d \d\e N \d\e Y" }} <br>
			    	( hace {{dispositivo.instalacion | timesince}} )
			    </td>		
			</tr>
		</table>
    </div>

<h2 style="color:#33691E;">Mantenimientos (Ultimos 15)</h2>
    <div>
		<table style="width:100%;">
		{% for mantto in manttos  %}
			<tr>
				<td colspan="3" class="titulo_mtto">
				<strong>
					{{mantto.orden| default:"Mantto No Programado"}}
							{% if mantto.orden %}
								- {{mantto.orden.rutina}}								
							{% endif %}
				</strong>
				</td>
				<td colspan="3" class="titulo_mtto">{{mantto.creado}}</td>
				<td colspan="1" class="titulo_mtto">
					{% if mantto.tipo = '1' %}
			    		Preventivo
			    	{% else %}
						Correctivo
			    	{% endif %}
				</td>
			</tr>		
			<tr>
			    <th class="sub_titulo_mtto" colspan="2">Paro de Equipo</th>	
			    <th class="sub_titulo_mtto" colspan="2">Duracion de Paro</th>
				<th class="sub_titulo_mtto" colspan="3">Estado Final</th>	
			</tr>
			<tr>
				<td colspan="2">{{mantto.paro_operacion|yesno:"Si,No"}}</td>	
			    <td colspan="2">{{mantto.tiempo_paro}} min</td>	
			    <td colspan="3"> {{mantto.estado_final}} </td>
			</tr>
			<tr>
			    <th class="sub_titulo_mtto2" colspan="7" style="text-align:left">
			    	Trabajo Realizado
			    </th>			    	
			</tr>
			<tr>
				{% autoescape off %}
			    <td colspan="7" style="text-align:left">{{mantto.descripcion}}</td>
			       	
				{% endautoescape %}
			</tr>

			<tr style="border-top:1px solid #BDBDBD">
				<td  colspan="7"></td>
			</tr>

		{% empty %}	
			<strong><i>Este dispositivos no posee mantenimientos asociadas</i></strong>
		{% endfor %}
		</table>
    </div>

{% endblock contenido %}


