{% extends "report_base.html" %}

{% block contenido %}
<style>
	.head {
		background: #009688;
		color: white;
	}

</style>

<table style="font-family: roboto; border-bottom: 1px solid #004D40; color:#004D40">
	<tr>
		<th style="width:65% ; text-align:left">
			<h1>LISTADO DE DISPOSITIVOS</h1>
		</th>
		<th style="width:35%; text-align:right">
			<h1>{{dispositivo}}</h1>
		</th>
	</tr>
</table>
<br><br>
<table style='padding-top: 20px'>
	<thead>
		<tr style='border: 1px solid #009688'>
			<!-- <th class='head' style='width:50px'>ID</th> -->
			<th class='head'>POSICION</th>
			<th class='head'>TIPO</th>
			<th class='head'>N&deg; SERIE</th>
			<th class='head' style='width:120px'>MARCA</th>
			<th class='head' style='width:85px'>MODELO</th>
			<th class='head'>SISTEMA</th>
			<th class='head' style='width:150px'>UBICACION</th>
		</tr>
	</thead>
	<tbody>
		{% for disp in dispositivos %}
			<tr >
				<!--  <td style='border-bottom: 1px solid #BDBDBD'>{{disp.id}}</td> -->
				<td style='border-bottom: 1px solid #BDBDBD'>{{disp.posicion_logica}}</td>
				<td style='border-bottom: 1px solid #BDBDBD'>{{disp.tipo}}</td>
				<td style='border-bottom: 1px solid #BDBDBD'>{{disp.serie}}</td>
				<td style='border-bottom: 1px solid #BDBDBD'>{{disp.marca}}</td>
				<td style='border-bottom: 1px solid #BDBDBD'>{{disp.modelo}}</td>
				<td style='border-bottom: 1px solid #BDBDBD'>{{disp.sistema}}</td>
				<td style='border-bottom: 1px solid #BDBDBD'>{{disp.edificio}}-{{disp.oficina}}</td>
			</tr>
		{% endfor %}
		
	</tbody>
</table>


<div id="myStat" data-dimension="250" data-text="35%" data-info="New Clients" data-width="30" data-fontsize="38" data-percent="35" data-fgcolor="#61a9dc" data-bgcolor="#eee" data-fill="#ddd" data-total="200" data-part="35" data-icon="long-arrow-up" data-icon-size="28" data-icon-color="#fff"></div>
<script>
	$(document).ready(function() {
		   $('#myStat').circliful();
		   console.log("sfsf")
	});


</script>
{% endblock contenido %}