{% extends "base.html" %}
{% block titulo %}
    Componentes
{% endblock titulo %}
{% block contenido %}
     <div class="ui purple menu">
          <a class="item">
            <i class="home icon"></i> Inicio
          </a>
          <a class="active item" href="{% url 'componentes_list' %}">
            <i class=" cubes icon"></i> Componentes
          </a>
           {% if perms.inventario.add_componente %}   
          <a class=" blue item" href="{% url 'componente_add' %}">
            <i class=" add icon"></i> Agregar Componente
          </a>
          {% endif %}
    </div>

    <div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" >
      <div class="panel panel-default">
        <div class="panel-body">
           

            <div class="ui items">
                    <div class="item">
                      <a class="ui small image">
                        <img src="{{STATIC_URL}}images/girl1.png">
                      </a>
                      <div class="content">
                        <a class="header">Lo sentimos</a>
                        <div class="description">
                          <p> Esta seccion pronto estara disponible. <br>
                              Vuelve pronto 
                           </p>
                        </div>
                      </div>
                    </div>
                  </div>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}
