{% extends "base.html" %}

{% block include_statics %}


<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
 <script type="text/javascript" src="{{STATIC_URL}}js/asset/gridLocalization.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>


    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.filter.js"></script> 

 

{% endblock include_statics %}

{% block contenido %}

   <div class="ui purple menu">
          <a class="item" href="/">
            <i class="home icon"></i> Inicio
          </a>
          <a class="active item" href="{% url 'dispositivos_list' %}">
            <i class=" cubes icon"></i> Dispositivos
          </a>
          <a class="item" href="{% url 'dispositivo_add' %}">
            <i class=" add icon"></i> Agregar Dispositivo
          </a>
    </div>
        


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" >

            <h2 class="ui top attached header">
              <i class="cubes icon"></i>
              <div class="content">
                 Dispositivos
                <div class="sub header">Listado de todos los dispositivos registrados</div>
              </div>
            </h2>
            <div id="jqxgrid"></div>
        </div>
    </div>
</div>


{% endblock contenido %}


{% block scripts %}

<script>

$(document).ready(function() {
    /*Inicializar Combos obteniendo los datos del api rest de catalogos*/
 var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'posicion_logica', type: 'string' },
                    { name: 'marca', type: 'int' },
                    { name: 'modelo', type: 'string' },
                    { name: 'serie', type: 'string' },
                    { name: 'tipo', type: 'string' },
                    { name: 'oficina', type: 'string' },
                    { name: 'estado', type: 'string' },
                    { name: 'sistema', type: 'string' }
                ],
                id: 'id',
                url: '/api/inventario/dispositivos/'
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
    $("#jqxgrid").jqxGrid({

                width: '100%',
                theme:'metro', 
                source: dataAdapter,
                showfilterrow: true,
                filterable: true,
                pageable: true,
                selectedrowindex: 0,
                localization: getLocalization(),
                columns: [
                  { text: '<i class="cubes icon"></i> Posicion', datafield: 'posicion_logica' },
                  { text: 'Marca', datafield: 'marca' },
                  { text: 'Modelo', datafield: 'modelo', },
                  { text: 'Serie', datafield: 'serie',  },
                  { text: '<i class="ion-flag icon"></i> Tipo', datafield: 'tipo', filtertype:'list' },
                  { text: 'Ubicacion', datafield: 'oficina', filtertype:'list' },
                  { text: 'Estado', datafield: 'estado', filtertype:'list' },
                  { text: 'Sistema', datafield: 'sistema', filtertype:'list' }
              ],
              showtoolbar: true,
                rendertoolbar: function (statusbar) {
                    // appends buttons to the status bar.
                    var container = $("<div style='margin:5px;'></div>");
                    var addButton = $("<div class='ui green button'> <i class='ion-document-text icon'></i>Ver detalles</div>");
                    var deleteButton = $("<div class='ui orange button'>Ver PDF</div>");
                   
                    container.append(addButton);
                    container.append(deleteButton);
                    statusbar.append(container);
                   
                    // add new row.
                    addButton.click(function (event) {
                        console.log("message");
                        //$("#jqxgrid").jqxGrid('addrow', null, datarow[0]);
                    });
                    // delete selected row.
                    deleteButton.click(function (event) {
                        var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                        var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                        var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                        //$("#jqxgrid").jqxGrid('deleterow', id);
                    });

                },
            });
 

  
    
});

</script>





	
{% endblock scripts %}