{% extends "base.html" %}

{% block include_statics %}


<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
 <script type="text/javascript" src="{{STATIC_URL}}js/asset/gridLocalization.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>


    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.filter.js"></script> 

 

{% endblock include_statics %}

{% block contenido %}

   <div class="ui purple menu">
          <a class="item" href="/">
            <i class="home icon"></i> Inicio
          </a>
          <a class="active item" href="{% url 'dispositivos_list' %}">
            <i class=" cubes icon"></i> Dispositivos
          </a>
          <a class="item" href="{% url 'dispositivo_add' %}">
            <i class=" add icon"></i> Agregar Dispositivo
          </a>
    </div>
        


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" >

            <div class="panel panel-default">
                <div class="panel-body">
                  <div class="ui items">
                    <div class="item">
                      <a class="ui small image">
                        <img src="{{STATIC_URL}}images/devices.png">
                      </a>
                      <div class="content">
                        <a class="header">Dispositivos</a>
                        <div class="description">
                          <p> Un dispositivo es un aparato o mecanismo que desarrolla determinadas acciones. <br>
                             Su nombre está vinculado a que dicho artificio está dispuesto para cumplir con su objetivo. 
                           </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
            </div>

            <div id="jqxgrid"></div>
        </div>
    </div>
</div>


{% endblock contenido %}


{% block scripts %}

<script>

$(document).ready(function() {
    /*Inicializar Combos obteniendo los datos del api rest de catalogos*/
 var source =
            {
                datatype: "json",
                datafields: [
                    { name: 'id', type: 'int' },
                    { name: 'posicion_logica', type: 'string' },
                    { name: 'serie', type: 'string' },
                    { name: 'tipo', type: 'string' },
                    { name: 'sistema', type: 'string' },
                    { name: 'oficina', type: 'string' },
                    { name: 'estado', type: 'string' },
                ],
                id: 'id',
                url: '/api/inventario/dispositivos/'
            };
            var dataAdapter = new $.jqx.dataAdapter(source);
    $("#jqxgrid").jqxGrid({

                width: '100%',
                theme:'metro', 
                source: dataAdapter,
                showfilterrow: true,
                filterable: true,
                pageable: true,
                selectedrowindex: 0,
                autoshowfiltericon: true,
                localization: getLocalization(),
                columns: [
                  { text: '<i class="cubes icon"></i> Posicion', datafield: 'posicion_logica', width:"20%" },
                  { text: 'Serie', datafield: 'serie',  width:"16%"},
                  { text: '<i class="ion-flag icon"></i> Tipo', datafield: 'tipo', filtertype:'list' ,width:"16%"},
                  { text: 'Sistema', datafield: 'sistema', filtertype:'list', width:"16%" },
                  { text: 'Ubicacion', datafield: 'oficina', filtertype:'list', width:"16%" },
                  { text: 'Estado', datafield: 'estado', filtertype:'list', width:"16%" },
              ],
              showtoolbar: true,
              rendertoolbar: function (statusbar) {
                    // appends buttons to the status bar.
                    var container = $("<div style='margin:5px;'></div>");
                    var viewButton = $("<div class='ui  tiny blue button'> Ver detalles</div>");
                    var deleteButton = $("<div class='ui tiny green button'>Ver PDF</div>");
                   
                    container.append(viewButton);
                   //  container.append(deleteButton);
                    statusbar.append(container);
                   
                    // add new row.
                    viewButton.click(function (event) {
                      var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                      var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                      var win = window.open('/inventario/dispositivos/detalle/'+id, '_blank');
                      win.focus(); 
                        //$("#jqxgrid").jqxGrid('addrow', null, datarow[0]);
                    });
                    // delete selected row.
                    deleteButton.click(function (event) {
                        var selectedrowindex = $("#jqxgrid").jqxGrid('getselectedrowindex');
                        var rowscount = $("#jqxgrid").jqxGrid('getdatainformation').rowscount;
                        var id = $("#jqxgrid").jqxGrid('getrowid', selectedrowindex);
                        //$("#jqxgrid").jqxGrid('deleterow', id);
                    });
                },
            });
$("#jqxGrid").on("filter", function (event) 
{
    var filterinfo = $("#jqxgrid").jqxGrid('getfilterinformation');
    console.log("message");
}); 
    
});

</script>





	
{% endblock scripts %}