{% extends "base.html" %}

{% block include_statics %}

<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.energyblue.css" type="text/css" />
    
<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtabs.js"></script>


{% endblock include_statics %}

{% block contenido %}

   <div class="ui purple menu">
          <a class="item" href="/">
            <i class="home icon"></i> Inicio
          </a>
          <a class=" item" href="{% url 'dispositivos_list' %}">
            <i class=" cubes icon"></i> Dispositivos
          </a>
          <a class="item" href="{% url 'dispositivo_add' %}">
            <i class=" add icon"></i> Agregar Dispositivo
          </a>
    </div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" >
			<div id='jqxWidget'>
			        <div id='jqxTabs'>
			            <ul>
			                <li style="margin-left: 5px;">Datos generales</li>
			                <li>Incidencias</li>
			                <li>Mantenimientos</li>
			            </ul>
			            <div class="container-fluid">
			            	<div class="ui items" style="padding:10px">
							  <div class="item">
							    <div class="content">
							      	<h3 class="ui dividing purple header">
									  <i class="terminal icon"></i>
									  <div class="content">
									    {{dispositivo}}
									  </div>
									</h3>
									<br>								
							      
							      	<div class="row">
							      		<div class="col-md-6">
											<table class="ui definition green table">
												<tbody>
													<tr>
														<td>Marca</td>
														<td>{{dispositivo.marca}} </td>
													</tr>
													<tr>
														<td>Modelo</td>
														<td> {{dispositivo.modelo}}</td>
													</tr>
													<tr>
														<td>Serie</td>
														<td> {{dispositivo.serie}} </td>
													</tr>
													<tr>
														<td>Inventario</td>
														<td>  {{dispositivo.inventario}}</td>
													</tr>
													<tr>
														<td>Estado</td>
														<td>  {{dispositivo.estado}}</td>
													</tr>
												</tbody>
											</table>
							      		</div>
							      		<div class="col-md-6">
											<table class="ui definition blue table">	
												<tbody>
													<tr>
														<td>Edificio</td>
														<td>{{dispositivo.edificio}} </td>
													</tr>
													<tr>
														<td>Oficina</td>
														<td> {{dispositivo.oficina}}</td>
													</tr>
													<tr>
														<td>Sistema</td>
														<td> {{dispositivo.sistema}} </td>
													</tr>
													<tr>
														<td>Tipo</td>
														<td>  {{dispositivo.tipo}}</td>
													</tr>
													<tr>
														<td>Instalacion</td>
														<td>  
															{{dispositivo.instalacion}} 
															(<i class="icon ion-ios-clock-outline"></i>{{dispositivo.instalacion|timesince}})
														</td>
													</tr>
												</tbody>
											</table>
							      		</div>
							      	</div>
							      
							      <div class="extra">
									<!-- Single button -->
									<div class="btn-group dropup">
									  <button type="button" class="btn btn-xs btn-primary dropdown-toggle" data-toggle="dropdown" aria-expanded="false">
									  	<i class="icon ion-printer"></i>
									    PDF <span class="caret"></span>
									  </button>
									  <ul class="dropdown-menu" role="menu">
										<li>
									    	<a href="#">
									    		<i class="icon wrench"></i>Mantenimientos
									    	</a>
									    </li>
										<li>
											<a href="#">
												<i class="icon ion-flash"></i>Incidencias
											</a>
										</li>									    
									    <li>
											<a href="#"><i class="icon ion-folder"></i>Todo</a>
										</li>
									  </ul>
									</div>
									<!-- Single button -->

							      </div>
							    </div>
							  </div>
							</div>
			            </div>
			            <div class="container-fluid">
			                {% include "inventario/disp/incidencias50.html" %}
			            </div>
			            <div class="container-fluid">
							{% include "inventario/disp/manttos50.html" %}
			            </div>
      
			        </div>   
    		</div>
    		
        </div>
    </div>
</div>




{% endblock contenido %}

{% block scripts %}

<script>
	$(document).ready(function() {
		 $('#jqxTabs').jqxTabs({ width: '90%', position: 'top', animationType: 'fade', theme:"energyblue" });
		   
$('.ui.accordion')
  .accordion()
;
	});


</script>
{% endblock scripts %}