{% extends "base.html" %}

{% block include_statics %}
{% comment %}
    

    <script src="{{BOWER_URL}}w2ui/w2ui-1.4.2.min.js"></script>
    <link rel="stylesheet" href="{{BOWER_URL}}w2ui/w2ui-1.4.2.min.css">
{% endcomment %}
<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.base.css" type="text/css" />
    <link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
    <link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.bootstrap.css" type="text/css" />
    <link rel="stylesheet" href="{{STATIC_URL}}css/teal.min.css">
   
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcore.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script> 
     <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxnotification.js"></script>

   

{% endblock include_statics %}

{% block contenido %}


<div class="container-fluid">    
<div class="row">

    <div class="col-md-6 col-md-offset-3" >
        <div id="messageNotification">
        </div>  
        <div class="panel panel-primary  shadow-z-1">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="edit icon"></i>
                      <div class="content">
                        Registrar Dispositivo
                      </div>                      
                    </h3>
                </div>
                <div class="panel-body">                  
                    <div class="col-md-9 col-sm-9 ">
                        <form id="formDisp" class="form-horizontal" method="post">
                                {% csrf_token %}
                     
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="tag icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="marca" placeholder="Marca">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="tag icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="modelo" placeholder="Modelo">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="barcode icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="serie" placeholder="No Serie" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                   <i class="cubes icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="inventario" placeholder="No Inventario">
                            </div>
                        </div>
                       <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="terminal icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="posicion" placeholder="Posicion logica" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="fork icon"></i>
                                </span>
                                <div id='tipo' class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="settings icon"></i>
                                </span>
                                <div id='sistema' class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="marker icon"></i>
                                </span>
                                <div id='edificio' class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="building outline icon"></i>
                                </span>
                                <div id='oficina' class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="flag icon"></i>
                                </span>
                                <div id='estado' class="form-control"></div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="calendar icon"></i>
                                </span>
                                <div id='instalacion' class="form-control"></div>
                            </div>
                        </div>
                       
                       
                       

                        <div class="form-group">
                                    <div class="col-lg-10 col-lg-offset-1">
                                        <button id="enviar" type="button" class="ui teal button">
                                            Guardar Cambios  
                                            <span class="glyphicon glyphicon-save" ></span>
                                        </button>
                                    </div>
                        </div>

                        </form>
                    
                    </div>

                </div>
        </div>

    <div id="jqxNotification">
        <div id="notificationContent">
        </div>
    </div>

   
    </div>
</div>
</div>


{% endblock contenido %}


{% block scripts %}

<script>

$(document).ready(function() {
    /*Inicializar Combos obteniendo los datos del api rest de catalogos*/


            $("#jqxNotification").jqxNotification({ 
                width: "100%", appendContainer: "#messageNotification", 
                opacity: 0.9, autoClose: true, template: "success",position:'top-right'
             });



        var EdificiosSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/edificio/'
        };
        var EdificiosAdapter = new $.jqx.dataAdapter(EdificiosSource);

     
     $("#edificio").jqxComboBox({ source:EdificiosAdapter, theme:'teal'
        ,promptText: "Seleccione el edificio...", displayMember: 'text',
            valueMember: 'id'});

     $('#edificio').on('select', function (event) 
        {
            var args = event.args;
            if (args) {
                var item = args.item;
                // get item's label and value.
                var value = item.value;
                var oficinaSource =
                    {
                        dataType: "json",
                        dataFields: [
                            { name: 'id'},
                            { name: 'text'}
                        ],
                        url: '/api/catalogo/oficina/?edificio='+value
                    };
                var oficinaAdapter = new $.jqx.dataAdapter(oficinaSource);
                $("#oficina").jqxComboBox({source: oficinaAdapter});

            }
        }); 

     $("#oficina").jqxComboBox({ theme:'metro', promptText: "Seleccione la oficina...", displayMember: 'text', valueMember: 'id'});

var sistemaSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/sistema/'
        };
        var sistemaAdapter = new $.jqx.dataAdapter(sistemaSource);

     $("#sistema").jqxComboBox({ theme:'bootstrap', promptText: "Sistema al que pertenece...", source:sistemaAdapter, displayMember: 'text', valueMember: 'id'});
var estadoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/estado_ope/'
        };
        var estadoAdapter = new $.jqx.dataAdapter(estadoSource);

     $("#estado").jqxComboBox({ theme:'metro', promptText: "Estado Operacional...", 
        source: estadoAdapter,displayMember: 'text', valueMember: 'id'});

var tipoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/tipo_disp/'
        };
        var tipoAdapter = new $.jqx.dataAdapter(tipoSource);

     $("#tipo").jqxComboBox({ theme:'teal', promptText: "Tipo de Dispositivo...",  source: tipoAdapter, displayMember: 'text', valueMember: 'id'});

    $("#instalacion").jqxDateTimeInput({theme:'bootstrap'});

    $('#formDisp').jqxValidator({
                rules: [
                    { input: '#marca', message: 'Campo requerido', action: 'blur', rule: 'required' },
                    { input: '#serie', message: 'Campo requerido', action: 'blur', rule: 'required' },
                    { input: '#posicion', message: 'Campo requerido', action: 'blur', rule: 'required' }
                ]
            });
    $("#enviar").on('click',  function(event) {
        event.preventDefault();
        $('#formDisp').jqxValidator('validate');
        /* Act on the event */
    });

    $('#formDisp').on('validationSuccess', function (event) { 
    
        $.ajax({
            url: '/inventario/dispositivo/',
            type: 'POST',
            data: {
                marca: 'value1',
                modelo:'dfgfd',
                serie:'dfg',
                csrfmiddlewaretoken:''
            },
        })
        .done(function() {
            $.snackbar({content: "Dispositivo Registrado!"});
        })
        .fail(function(e) {
            $.snackbar({content: "Error: "+ e.status + ": "+e.statusText});
            console.log(e);
        })
        
        
        
        //$("#notificationContent").html("Dispositivo Registrado!");
        //$('#jqxNotification').jqxNotification({ autoClose: false }); 
        //$("#jqxNotification").jqxNotification("open");

    }); 

});

</script>





	
{% endblock scripts %}