{% extends "base.html" %}
{% block titulo %}
    Nuevo Dispositivo
{% endblock titulo %}
{% block include_statics %}

<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.energyblue.css" type="text/css" />

    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>



   <style shim-shadowdom>

    progress {
      display: block;
      width: 100%;
      margin-bottom: 5px;
    }

  </style>
  

{% endblock include_statics %}

{% block titulo %}
    Inventario | Nuevo Dispositivo
{% endblock titulo %}

{% block contenido %}

   <div class="ui purple menu">
          <a class="item">
            <i class="home icon"></i> Inicio
          </a>
          <a class="red item" href="{% url 'dispositivos_list' %}">
            <i class=" cubes icon"></i> Dispositivos
          </a>
          <a class="active blue item" href="{% url 'dispositivo_add' %}">
            <i class=" add icon"></i> Agregar Dispositivo
          </a>
    </div>
        




<div class="progress hidden">
      <div class="indeterminate"></div>
</div>
         


<div class="container-fluid"> 

<div class="row">


<div class="col-md-8 col-md-offset-2" >
        <div id="err_msg" class="alert alert-dismissable alert-warning" hidden>
                <button type="button" class="close" data-dismiss="alert">×</button>
                <h5><div class="header"><i class="icon warning circle"></i> Se detectaron los siguientes inconvenientes</div></h5>
                <p id="mensaje">                  
                </p>
        </div>  

        <div class="panel panel-primary  shadow-z-1">
                <div class="panel-heading" >
                    <h3 style="color:white" class="center ui aligned header">
                      <i class="edit icon"></i>
                      <div class="content">
                        Registrar Dispositivo
                      </div>                      
                    </h3>
                </div>
                <div class="panel-body">                  
                    <div class="col-md-9 col-sm-9 ">
                        <form id="formDisp" class="form-horizontal" method="post">
                                {% csrf_token %}
                     
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="tag icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="marca" placeholder="Marca">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="tag icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="modelo" placeholder="Modelo">
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="barcode icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="serie" placeholder="No Serie" >
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                   <i class="cubes icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="inventario" placeholder="No Inventario">
                            </div>
                        </div>
                       <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="terminal icon"></i>
                                </span>
                                <input type="text" class="form-control floating-label" id="posicion" placeholder="Posicion logica" >
                            </div>
                        </div>

<div class="row">
    <div class="col-md-5">
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="fork icon"></i>
                                </span>
                                <div id='tipo' class="form-control"></div>
            </div>
        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 ">
        <div class="form-group">
            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="settings icon"></i>
                                </span>
                                <div id='sistema' class="form-control"></div>
            </div>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
         <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="marker icon"></i>
                                </span>
                                <div id='edificio' class="form-control"></div>
                            </div>
                        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 ">
        
                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="building outline icon"></i>
                                </span>
                                <div id='oficina' class="form-control"></div>
                            </div>
                        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-5">
         <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="flag icon"></i>
                                </span>
                                <div id='estado' class="form-control"></div>
                            </div>
                        </div>
    </div>
    <div class="col-md-5 col-md-offset-1 ">
          <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1 input-group">
                                <span class="input-group-addon">
                                    <i class="calendar icon"></i>
                                </span>
                                <div id='instalacion' class="form-control"></div>
                            </div>
                        </div>
    </div>
</div>


                        <div class="form-group">
                            <div class="col-lg-10 col-lg-offset-1">
                                <button id="enviar" type="button" class="ui teal button">
                                    Guardar  &nbsp;
                                    <span class="glyphicon glyphicon-save" ></span>
                                </button>
                                <button id="limpiar" type="button" class="ui black button">
                                    Limpiar Campos  &nbsp;
                                    <span class="glyphicon glyphicon-erase" aria-hidden="true"></span>
                                </button>
                            </div>
                        </div>

                        </form>
                    
                    </div>

                </div>
        </div>

    </div>
</div>
</div>
{% endblock contenido %}


{% block scripts %}

<script>

$(document).ready(function() {
    /*Inicializar Combos obteniendo los datos del api rest de catalogos*/
    

        var EdificiosSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/edificio/'
        };
        var EdificiosAdapter = new $.jqx.dataAdapter(EdificiosSource);

     
     $("#edificio").jqxComboBox({ source:EdificiosAdapter, theme:'energyblue'
        ,promptText: "Seleccione el edificio...", displayMember: 'text',
            valueMember: 'id'});

     $('#edificio').on('select', function (event) 
        {
            var args = event.args;
            if (args) {
                var item = args.item;
                // get item's label and value.
                var value = item.value;
                var oficinaSource =
                    {
                        dataType: "json",
                        dataFields: [
                            { name: 'id'},
                            { name: 'text'}
                        ],
                        url: '/api/catalogo/oficina/?edificio='+value
                    };
                var oficinaAdapter = new $.jqx.dataAdapter(oficinaSource);
                $("#oficina").jqxComboBox({source: oficinaAdapter, disabled: false});

            }
        }); 

     $("#oficina").jqxComboBox({ theme:'energyblue', promptText: "Seleccione la oficina...", displayMember: 'text', valueMember: 'id',disabled: true});

var sistemaSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/sistema/'
        };
        var sistemaAdapter = new $.jqx.dataAdapter(sistemaSource);

     $("#sistema").jqxComboBox({ theme:'energyblue', promptText: "Sistema al que pertenece...", source:sistemaAdapter, displayMember: 'text', valueMember: 'id'});
var estadoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/estado_ope/'
        };
        var estadoAdapter = new $.jqx.dataAdapter(estadoSource);

     $("#estado").jqxComboBox({ theme:'energyblue', promptText: "Estado Operacional...", 
        source: estadoAdapter,displayMember: 'text', valueMember: 'id'});

var tipoSource =
        {
            dataType: "json",
            dataFields: [
                { name: 'id'},
                { name: 'text'}
            ],
            url: '/api/catalogo/tipo_disp/'
        };
        var tipoAdapter = new $.jqx.dataAdapter(tipoSource);

     $("#tipo").jqxComboBox({ theme:'energyblue', promptText: "Tipo de Dispositivo...",  source: tipoAdapter, displayMember: 'text', valueMember: 'id'});

    $("#instalacion").jqxDateTimeInput({theme:'energyblue', culture: 'es-MX'});
    $.getScript('{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.culture.es-MX.js', function () {
        $("#instalacion").jqxDateTimeInput({ culture: 'es-MX' });
    });

    $('#formDisp').jqxValidator({
                rules: [
                    { input: '#marca', message: 'Campo requerido', action: 'blur', rule: 'required' },
                    { input: '#serie', message: 'Campo requerido', action: 'blur', rule: 'required' },
                    { input: '#posicion', message: 'Campo requerido', action: 'blur', rule: 'required' }
                ]
            });
    $("#enviar").on('click',  function(event) {
        event.preventDefault();
        $('#formDisp').jqxValidator('validate');
        /* Act on the event */
    });

    $("#limpiar").on('click',  function(event) {
        event.preventDefault();
        document.getElementById("formDisp").reset();
        $(".form-control").jqxComboBox('clearSelection'); 
        /* Act on the event */
    });

    //$(".progress").css("visibility", "hidden")
  function getInventario(){
    inv = $("#inventario").val().trim()
    if(inv.length<=0){
        return null 
    }else
        return inv
  }


    $('#formDisp').on('validationSuccess', function (event) { 
        //$(".progress").css("visibility", "")
          $(".progress").toggleClass( "hidden" );

     setTimeout(function(){
        $.ajax({
            url: '/inventario/dispositivos/agregar/',
            type: 'POST',
            data: {
                marca: $("#marca").val().trim(),
                modelo: $("#modelo").val().trim(),
                serie: $("#serie").val().trim(),
                inventario: getInventario(),
                posicion_logica: $("#posicion").val().trim(),
                tipo: $("#tipo").val(),
                sistema: $("#sistema").val(),
                edificio: $("#edificio").val(),
                oficina: $("#oficina").val(),
                estado: $("#estado").val(),
                instalacion: $("#instalacion").val(),
            },
        })
        .done(function(data) {
            
            if(data.success){
                $.snackbar({content: "<i class='checkmark green sign icon'></i> Dispositivo Registrado!"});
                $("#serie").val(null); 
                $("#inventario").val(null);
                $("#posicion").val(null);
                //$(".progress").css("visibility", "hidden")
                  $(".progress").toggleClass( "hidden" );
            }
            else{
                //$(".progress").css("visibility", "hidden")
                  $(".progress").toggleClass( "hidden" );
                var mensaje = "<ul>";
                for(var i=0;i<data.errores.length;i++){
                    e = data.errores[i]
                    mensaje +="<li>"+ e[0]+": "+ e[1] +"</li>"
                }
                mensaje += "</ul>"
                $.snackbar({content: "<h5 style='color:yellow'><i class='warning yellow sign icon'></i> Se encontraron los siguientes inconvenientes: </h5>"+mensaje, timeout: 0 });

            }
        })
        .fail(function(e) {
            $.snackbar({content: "<i class='warning red sign icon'></i> Error: "+ e.status + ": "+e.statusText});
            // $(".progress").css("visibility", "hidden")
              $(".progress").toggleClass( "hidden" );
        })
        
        },600)   
        
        //$("#notificationContent").html("Dispositivo Registrado!");
        //$('#jqxNotification').jqxNotification({ autoClose: false }); 
        //$("#jqxNotification").jqxNotification("open");
    }); 

    
});

</script>





	
{% endblock scripts %}