{% extends "base.html" %}

{% block contenido %}
     <div class="ui purple menu">
          <a class="item">
            <i class="home icon"></i> Inicio
          </a>
          <a class="active item" href="{% url 'servicios_list' %}">
            <i class=" cubes icon"></i> Servicios
          </a>
           {% if perms.inventario.add_servicio %}   
          <a class=" blue item" href="{% url 'servicio_add' %}">
            <i class=" add icon"></i> Agregar Servicio
          </a>
          {% endif %}
    </div>



<div class="container-fluid">
  <div class="row">
    <div class="col-md-10 col-md-offset-1" >
      <div class="panel panel-default">
        <div class="panel-body">
            <h2 class="ui header">
              <i class="settings icon"></i>
              <div class="content">
                Servicios
              </div>
            </h2>

              <table class="ui blue table">
                <thead>
                  <tr>
                    <th>Servicio</th>
                    <th>Tipo</th>
                    <th>Descripcion</th>
                  </tr>
                </thead>
                <tbody>
                  {% for serv in servicios %}
                    <tr>
                      <td>{{serv.nombre}}</td>
                      <td>{{serv.tipo.nombre}}</td>
                      <td>{{serv.descripcion}}</td>
                    </tr>
                  {% empty %}  
                  <tr>
                    <td colspan='3'>
                      <h4>No hay registros que mostrar</h4>
                    </td>
                  </tr>
                  {% endfor %}
                </tbody>
              </table>

        </div>
      </div>
    </div>
  </div>
</div>

{% endblock contenido %}