{% extends "base.html" %}

{% block titulo %}
    Detalles de host
{% endblock titulo %}
{% block include_statics %}


<link rel="stylesheet" href="{{BOWER_URL}}jqwidgets/jqwidgets/styles/jqx.metro.css" type="text/css" />
<link href="{{BOWER_URL}}ckeditor/plugins/codesnippet/lib/highlight/styles/monokai_sublime.css" rel="stylesheet">
<script type="text/javascript" src="{{STATIC_URL}}js/asset/gridLocalization.js"></script>
    
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxbuttons.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxscrollbar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcombobox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxpanel.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdata.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdatetimeinput.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcalendar.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtooltip.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/globalization/globalize.js"></script>
      <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxexpander.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxvalidator.js"></script>


    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxmenu.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxcheckbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxlistbox.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxdropdownlist.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.pager.js"></script>
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.selection.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxgrid.filter.js"></script> 
    <script type="text/javascript" src="{{BOWER_URL}}moment/min/moment.min.js"></script> 

 
  <script type="text/javascript" src="{{BOWER_URL}}moment/locale/es.js"></script>

<script type="text/javascript" src="{{BOWER_URL}}jqwidgets/jqwidgets/jqxtabs.js"></script>


<script type="text/javascript" src="{{BOWER_URL}}highcharts/highcharts.js"></script>
<script type="text/javascript" src="{{BOWER_URL}}highcharts/highcharts-more.js"></script>
<script type="text/javascript" src="{{BOWER_URL}}highcharts/modules/solid-gauge.js"></script>


{% endblock include_statics %}

{% block contenido %}
{% load i18n %}.
   <div class="ui purple menu">
          <a class="item" href="/">
            <i class="home icon"></i> Inicio
          </a>
          <a class=" item" href="{% url 'hosts_list' %}">
            <i class=" cubes icon"></i> Hosts
          </a>
          <a class="active item" href="">
            <i class=" cubes icon"></i> Detalles Host
          </a>

    </div>


<div class="container-fluid">
    <div class="row">
        <div class="col-md-10 col-md-offset-1" >
			<div id='jqxWidget'>
			        <div id='jqxTabs'>
			            <ul>
			                <li style="margin-left: 5px;">Datos generales</li>
			                <li>Eventos Inicio</li>
			                <li>Eventos Generales</li>
			                <li>Dispositivos</li>
			                <li>Almacenamiento</li>
			                <li>Procesos en Monit.</li>
			                <li>Otros</li>
			            </ul>
			            <div class="container-fluid">
			            	<div class="ui items" style="padding:10px">
							  <div class="item">
							    <div class="content">
							      	<h3 class="ui dividing purple header">
									  <i class="terminal icon"></i>
									  <div class="content" >
									    {{host}} - {{host.nombre}} ({{host.position}})
									    <div class="sub header">{{host.descripcion}}</div>
									  </div>
									</h3>
									
									<div class="row">
							      	  	<div class="col-md-6">							      	  		
							      	  		<div id="container-ram" style="width: 300px; height: 200px; float: right">
											</div>
							      	  	</div>
							      	  	<div class="col-md-6">							      	  		
							      	  		<div id="container-load" style="width: 300px; height: 200px; float: left"></div>
							      	  	</div>
									</div>		
									
									
							      	<div class="row">
							      		<div class="col-md-6">
											<table class="ui definition green table">
												<tbody>
													<tr>
														<td>Ubicacion</td>
														<td>{{host.ubicacion}} </td>
													</tr>
													<tr>	
														<td>Tiempo de Operacion</td>
														<td id="uptimeCol"> 
															{% if host.uptime  < dias_60 %}
																<i class='green icon ion-checkmark-circled'></i>
																<span style='color:green'>
																	{{host.get_duration}}
																</span>
															{% elif host.uptime  > dias_60 and host.uptime < dias_90%}
																<i class='yellow icon ion-alert-circled'></i>
																<span style='color:#E65100'>
																	{{host.get_duration}}
																</span>
                                                            {% elif host.uptime  > dias_90 and host.uptime < dias_120 %}
																<i class='yellow icon ion-alert-circled'></i>
																<span style='color:#E65100'>
																	{{host.get_duration}}
																</span>
															{% elif  host.uptime  > dias_120 %}
																<i class='red icon ion-alert-circled'></i>
																<span style='color:red'>
																	{{host.get_duration}}
																</span>						
															{% endif %}
															
														</td>
													</tr>
													<tr>
														<td>Servicios</td>
														<td> {{host.servicios}} </td>
													</tr>
													<tr>
														<td>Procesos</td>
														<td>  {{host.procesos}}</td>
													</tr>
													<tr>
														<td>Usuarios</td>
														<td>  {{host.usuarios}}</td>
													</tr>
												</tbody>
											</table>
							      		</div>
							      		<div class="col-md-6">
											<table class="ui definition orange table">	
												<tbody>
													<tr>
														<td>Alarma de discos</td>
														<td>
															{{host.alarma_discos | yesno:"SI,NO"}}  
															{% if  host.alarma_discos %}				
																<i class='orange icon ion-alert-circled'></i>
															{% else %}
																<i class='green icon ion-checkmark-circled'></i>
															{% endif %}
														</td>
													</tr>
													<tr>
														<td>Alarma de procesos</td>
														<td>
															 {{host.alarma_procesos| yesno:"SI,NO"}}
															 {% if  host.alarma_procesos %}
																<i class='orange icon ion-alert-circled'></i>
															{% else %}
																<i class='green icon ion-checkmark-circled'></i>
															{% endif %}
														</td>
													</tr>
													<tr>
														<td>Alarma de Procesador</td>
														<td> {{host.alarma_procesador| yesno:"SI,NO"}}
															{% if  host.alarma_procesador %}
																<i class='orange icon ion-alert-circled'></i>
															{% else %}
																<i class='green icon ion-checkmark-circled'></i>
															{% endif %}
														</td>
													</tr>
													<tr>
														<td>Alarma de RAM</td>
														<td> {{host.alarma_memoria| yesno:"SI,NO"}}
															{% if  host.alarma_memoria %}
																<i class='orange icon ion-alert-circled'></i>
															{% else %}
																<i class='green icon ion-checkmark-circled'></i>
															{% endif %}
														</td>
													</tr>	
												</tbody>
											</table>
							      		</div>
							      	</div>
							      	<div class="row">
							      	  	<div class="col-md-12">
							      	  		<table class="ui blue table" style='margin-top:8px'>
											  <thead>
											    <tr>
											      <th>Ruta</th>
											      <th>Dispositivo</th>
											      <th>Capacidad</th>
											      <th>% Min. Libre</th>
											      <th>% Usado</th>
											    </tr>
											  </thead>
											  <tbody>											    
											   {% for disc in disks  %}
												<tr>
											      <td>{{disc.path}}</td>
											      <td>{{disc.device}}</td>
											      <td>{{disc.size}} MB</td>
											      <td>{{disc.min_free}} %</td>
											      <td>
											      	{{disc.percent_used}} %
											      	<div class="progress">
											      		{% if  disc.flag == True %}
											      			<div class="progress-bar  progress-bar-warning" style="width:{{disc.percent_used}}%;">
													  		</div>
													  	{% else %}
													  		<div class="progress-bar  progress-bar-info" style="width:{{disc.percent_used}}%;">
													  		</div>
											      		{% endif %}
													  
													</div>
											      </td>
											    </tr>
												{% endfor %}
											  </tbody>											 
											</table>
							      	  	</div>
									</div>	      


							      <div class="extra">
									<!-- Single button -->
								
									<!-- Single button -->

							      </div>
							    </div>
							  </div>
							</div>

			            </div>
			            <div class="container-fluid">
			                <div class="container-fluid">
							    <div class="row">							        
							        <div class="col-md-12" >
							        	<br>
							            <div id="jqxgridBoots"></div>
							        </div>
							    </div>
							</div>

			            </div>
			            <div class="container-fluid">
							<div class="container-fluid">
							    <div class="row">
							        <br>
							        <div class="col-md-12" >
							            <div id="jqxgridGeneral"></div>
							            
							        </div>
							    </div>
							</div>

			            </div>
			            <div class="container-fluid">
							<div class="container-fluid">
							    <div class="row">
							        <br>
							        <div class="col-md-12" >
							            <div id="jqxgridInterfaces"></div>
							        </div>
							    </div>
							</div>

			            </div>
			            <div class="container-fluid">
			            	<br>
			            	<table class="ui blue table">
							  <thead>
							    <tr>
							      <th>Tipo</th>
							      <th>Descripcion</th>
							      <th>Capacidad MB</th>
							      <th>Usado MB</th>
							    </tr>
							  </thead>
							  <tbody>
							  	{% for s in  storages %}
									<tr>
							      		<td>{{s.type}}</td>
							      		<td>{{s.description}}</td>
							      		<td>{{s.size}} MB</td>
							      		<td>							      			
							      			{{s.used}} MB ( {{s.percent_used}}%)
											<div class="progress">
											  <div class="progress-bar" style="width: {{s.percent_used}}%;">
											  </div>
											</div>

							      		</td>
							    	</tr>	
								{% endfor %}
							    						    
							  </tbody>							  
							</table>
							<br>

			            </div>
			            <div class="container-fluid">
							<div id="jqxgridProcesses"></div>
			            </div>
			            <div class="container-fluid">
							<div id="ram_hist" style="width: 65%;margin-top:8px"></div>
							<div id="load_hist" style="width: 65%;margin-top:8px"></div>
							<div id="disk_hist" style="width: 65%;margin-top:8px"></div>
			            </div>
      
			        </div>   
    		</div>
    		
        </div>
    </div>
</div>




{% endblock contenido %}

{% block scripts %}

<script>
	$(document).ready(function() {
        
    io.on('host_update', function(data){ 
    	if(data.host === "{{host.id}}"){         
	        dias = ( data.uptime / 60  ) / 1440
	        if(dias < 60){
	            span = "<span style='color:green'><i class='green icon ion-checkmark-circled'></i>"
	        }else if(dias < 90 && dias > 60){
	            span = "<span style='color:yellow'><i class='yellow icon ion-alert-circled'></i>"
	        }
	        else if(dias < 120 && dias > 90){
	            span = "<span style='color:orange'><i class='orange icon ion-alert-circled'></i>"
	        }
	        else{
	            span = "<span style='color:red'><i class='red icon ion-alert-circled'></i>"
	        }
	        span += data.format_uptime +"</span>"
	       // $("#uptimeCol").html(span)    
	    }
	});
        
    io.on('boot_event', function(data){
    	if(data.host === "{{host.id}}"){  
	   		//$('#jqxgridBoots').jqxGrid('addrow', null, data,"first");
	   	}
	});
    io.on('interface_event', function(data){	
         //$('#jqxgridInterfaces').jqxGrid('addrow', null, data,"first");
	});
    io.on('general_event', function(data){
    	if(data.host === "{{host.id}}"){  
			//$('#jqxgridGeneral').jqxGrid('addrow', null, data,"first");
		}
	});	
        
		 $('#jqxTabs').jqxTabs({ width: '90%', position: 'top', animationType: 'fade', theme:"metro" });
		      
 							BootsFields = [
			                    { name: 'id', type: 'int' },
			                    { name: 'tipo', type: 'string' },
			                    { name: 'host', type: 'string' },
			                    { name: 'uptime', type: 'string' },
                                { name: 'leido', type: 'string' },
			                    { name: 'fecha',type: 'date'},
			                    { name: 'format_uptime',type: 'string'},
			                ]


			                 DeviceFields = [
			                    { name: 'id', type: 'int' },
			                    { name: 'type', type: 'string' },
			                    { name: 'description', type: 'string' },
			                    { name: 'status', type: 'string' },
                                { name: 'errors', type: 'string' },
                                { name: 'created', type: 'date' },
			                ]

			                 ProcessFields = [
			                    { name: 'id', type: 'int' },
			                    { name: 'name', type: 'string' },
			                    { name: 'min', type: 'string' },
			                    { name: 'max', type: 'string' },
                                { name: 'count', type: 'string' },
                                { name: 'flag', type: 'string' },
                                { name: 'msg', type: 'string' },
                                { name: 'created', type: 'date' },
			                ]


			                 GeneralFields = [
			                    { name: 'id', type: 'int' },
			                    { name: 'tabla', type: 'string' },
			                    { name: 'item', type: 'string' },
			                    { name: 'uptime', type: 'string' },
			                    { name: 'warning', type: 'string' },
			                    { name: 'mensaje', type: 'string' },
			                    { name: 'fecha',type: 'date'},
			                    { name: 'format_uptime',type: 'string'},	
                                { name: 'leido', type: 'string' },
			                ]
		    columnasBoots = [
                  { text: 'ID', datafield: 'id', width:'60px', cellsrenderer: uptimeRender},
                  { text: 'Tipo Evento', datafield: 'tipo', filterType:'list', cellsrenderer: uptimeRender},
                  { text: 'Uptime', datafield: 'uptime' ,  cellsrenderer: uptimeRender},                
                  //{ text: 'Leido', datafield: 'leido', cellsrenderer: generalRender},
                  { text: 'Fecha', datafield: 'fecha', cellsformat:'dd-MMM-yy hh:mm ' , filtertype:'date' , cellsrenderer: uptimeRender},
              ]

             columnasDevices = [
                  { text: 'Tipo', datafield: 'type', width:'220px'},
                  { text: 'Descripcion', datafield: 'description' },                
                  { text: 'Estado', datafield: 'status',},
                  //{ text: 'Errores de asignacion', datafield: 'errors',width:'100px' },
                  { text: 'Ult. Act.', datafield: 'created', cellsformat:'dd-MMM-yy hh:mm ' , filtertype:'date' ,width:'150px'},
              ]

              columnasProcesses = [
                  { text: 'Proceso', datafield: 'name', width:'120px'},
                  { text: 'Min.', datafield: 'min' ,width:'70px'},                
                  { text: 'Max.', datafield: 'max',width:'70px'},
                  { text: 'Num.', datafield: 'count',width:'70px' },
                  { text: 'Warning', datafield: 'flag',width:'70px' },
                  { text: 'Causa', datafield: 'msg' },
                  { text: 'Ult. Act.', datafield: 'created', cellsformat:'dd-MMM-yy hh:mm ' , filtertype:'date' ,width:'150px'},
              ]
              
              columnasGeneral= [
                  { text: 'ID', datafield: 'id', width:'60px',  cellsrenderer: uptimeRender3},
                  { text: 'Tabla', datafield: 'tabla',  width:'130px',  cellsrenderer: uptimeRender3},
                  { text: 'Item', datafield: 'item' ,  width:'120px',  cellsrenderer: uptimeRender3},                
                  { text: 'Uptime', datafield: 'uptime', cellsrenderer: uptimeRender3,width:'120px'},
                  { text: 'Warning', datafield: 'warning',width:'60px', cellsrenderer: uptimeRender3},
                  { text: 'Causa', datafield: 'mensaje', cellsrenderer: uptimeRender3},
                  { text: 'Fecha', datafield: 'fecha', cellsformat:'dd-MMM-yy hh:mm ' , filtertype:'date' , width:'150px',
                   cellsrenderer: uptimeRender3},
              ]
              
                function get_datos(url, fields){
			    	
			    	 var source =
			            {
			                datatype: "json",
			                datafields: fields,
			                id: 'id',
			                url: url+"?host={{host.id}}",
                            addrow: function (rowid, rowdata, position, commit) {
                                commit(true);
                            },
			            };
				  var dataAdapter = new $.jqx.dataAdapter(source);
				  return dataAdapter
			    }
        
        function format_duration(data, element, field){
            if(field==="uptime")
                element[0].innerHTML = data.format_uptime
            if(!data.leido){                
                element.css('color', '#BF360C');    
                element.css('font-weight', 'bold');
            }
            return element[0].outerHTML;
        }
        
        function uptimeRender(row, columnfield, value, defaulthtml, columnproperties){
            var data = $('#jqxgridBoots').jqxGrid('getrowdata', row); 
            var element = $(defaulthtml);      
            return format_duration(data, element, columnfield)
        }

        function uptimeRender2(row, columnfield, value, defaulthtml, columnproperties){
            var data = $('#jqxgridInterfaces').jqxGrid('getrowdata', row); 
            var element = $(defaulthtml);      
            return format_duration(data, element, columnfield)        
        }

        function uptimeRender3(row, columnfield, value, defaulthtml, columnproperties){
            var data = $('#jqxgridGeneral').jqxGrid('getrowdata', row); 
            var element = $(defaulthtml);      
            return format_duration(data, element, columnfield)       
        }

    $("#jqxgridBoots").jqxGrid({
        theme:"metro",
        width: '100%',
        theme:'metro', 
        showfilterrow: true,
        filterable: true,
        pageable: true,
        localization: getLocalization(),
        columns: columnasBoots,source: get_datos("/api/gestion/boot_events/", BootsFields)

    });
     $("#jqxgridInterfaces").jqxGrid({
        theme:"metro",
        width: '100%',
        theme:'metro', 
        showfilterrow: true,
        filterable: true,
        pageable: true,
        localization: getLocalization(),
        columns: columnasDevices ,source: get_datos("/api/gestion/devices/", DeviceFields)

    });
       $("#jqxgridProcesses").jqxGrid({
        theme:"metro",
        width: '100%',
        theme:'metro', 
        showfilterrow: true,
        filterable: true,
        pageable: true,
        localization: getLocalization(),
        columns: columnasProcesses ,source: get_datos("/api/gestion/process/", ProcessFields)

    });
     $("#jqxgridGeneral").jqxGrid({
        theme:"metro",
        width: '100%',
        theme:'metro', 
        showfilterrow: true,
        filterable: true,
        pageable: true,
        localization: getLocalization(),
        columns: columnasGeneral,source: get_datos("/api/gestion/general_events/", GeneralFields)

    });

	//$("#jqxgridBoots").jqxGrid({  });
	   var gaugeOptions = {
	        chart: {
	            type: 'solidgauge'
	        },
	        title: null,
	        pane: {
	            center: ['50%', '85%'],
	            size: '140%',
	            startAngle: -90,
	            endAngle: 90,
	            background: {
	                backgroundColor: (Highcharts.theme && Highcharts.theme.background2) || '#EEE',
	                innerRadius: '60%',
	                outerRadius: '100%',
	                shape: 'arc'
	            }
	        },
	        tooltip: {
	            enabled: false
	        },
	        // the value axis
	        yAxis: {
	            stops: [
	                [0.1, '#55BF3B'], // green
	                [0.5, '#DDDF0D'], // yellow
	                [0.9, '#DF5353'] // red
	            ],
	            lineWidth: 0,
	            minorTickInterval: null,
	            tickPixelInterval: 400,
	            tickWidth: 0,
	            title: {
	                y: -70
	            },
	            labels: {
	                y: 16
	            }
	        },
	        plotOptions: {
	            solidgauge: {
	                dataLabels: {
	                    y: 5,
	                    borderWidth: 0,
	                    useHTML: true
	                }
	            }
	        }
    	};
    
		    $.ajax({
                          url: '/api/gestion/mem_entry/?host={{host.id}}',
                          type: 'GET',
                          dataType: 'json',                          
            })
            .done(function(data) {
            			if(data.length>0)
            			{
                          	mem = data[0]
                          	total = mem.total_ram
                          	used = total - mem.free_ram
                          	// The speed gauge
							$('#container-ram').highcharts(Highcharts.merge(gaugeOptions, {
							        yAxis: {
							            min: 0,
							            max: total,
							            title: {
							                text: 'RAM'
							            }
							        },
							        credits: {
							            enabled: false
							        },
							        series: [{
							            name: 'RAM',
							            data: [used],
							            dataLabels: {
							                format: '<div style="text-align:center"><span style="font-size:15px;color:' +
							                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || '#616161') + '">{y} de '+total+'</span><br/>' +
							                       '<span style="font-size:12px;color:silver">MB usados</span></div>'
							            },
							            tooltip: {
							                valueSuffix: 'MB'
							            }
							        }]

							}));                       
						}

            })
            .fail(function(err) {})

                        $.ajax({
                          url: '/api/gestion/load_entry/?host={{host.id}}',
                          type: 'GET',
                          dataType: 'json',                          
                        })
                        .done(function(data) {
                        	if(data.length>0)
            				{
	                          	load = data[0]
	                          	procesadores = 2
	                          	if(load.procesors > 2)
	                          		procesadores =  parseInt(load.procesors)
	                          	perc = load.load5 / procesadores
	                          	// The RPM gauge
							    $('#container-load').highcharts(Highcharts.merge(gaugeOptions, {
							        yAxis: {
							            min: 0,
							            max: procesadores,
							            title: {
							                text: 'Carga promedio ultimos 5 min'
							            }
							        },
							        series: [{
							            name: 'carga',
							            data: [load.load5],
							            dataLabels: {
							                format: '<div style="text-align:center"><span style="font-size:20px;color:' +
							                    ((Highcharts.theme && Highcharts.theme.contrastTextColor) || '#616161') + '">{y:.1f}</span><br/>' +
							                       '<span style="font-size:12px;color:silver">Procesos</span></div>'
							            },
							            tooltip: {
							                valueSuffix: 'Carga'
							            }
							        }]

							    }));
							}

                        })
                        .fail(function(err) {
                         
                        })

try{
	io.on('mem_usage', function(data){
		if(data.host === "{{host.id}}"){
            total = data.total_ram
            used = total - data.free_ram
			var chart = $('#container-ram').highcharts(),
            point,  newVal,inc;
	        if (chart) {	
	        	point = chart.series[0].points[0];            
	            point.update(used);
	        }
				
		}
	});

	io.on('load_avg', function(data){
		if(data.host === "{{host.id}}"){  
			console.log(data)          
			var chart = $('#container-ram').highcharts(),
            point,  newVal,inc;
	        if (chart) {	
	        	point = chart.series[0].points[0];            
	            point.update(data.load5);
	        }
				
		}
	});

	}catch(err){
	    console.log(err)
	}

Highcharts.setOptions({
            global: {
                useUTC: false
            },
            lang: {
                months: ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo', 'Junio',  'Julio', 'Agosto', 'Septiembre', 'Octubre', 'Noviembre', 'Diciembre'],
                shortMonths: [ "Ene" , "Feb" , "Mar" , "Abr" , "May" , "Jun" , "Jul" , "Ago" , "Sep" , "Oct" , "Nov" , "Dic"],
                //weekdays: ['Domingo', 'Lunes', 'Martes', 'Miercoles', 'Jueves', 'Viernes', 'Sabado'],
                downloadJPEG: "Descargar como JPG",
                printChart:"Imprimir Grafico",
                weekdays: ["Domingo", "Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sabado"],
                resetZoom:"Resetear zoom",
                noData: "No hay datos que mostrar"
            }
        });

var daysback = moment().subtract(15, 'days')
//console.log(daysback.format("DD/MM/YYYY"))

	//**************************
    $.ajax({
    	url: '/api/gestion/hist_memory/?host={{host.id}}&min_date='+daysback.format("DD/MM/YYYY"),
    	type: 'GET',
         dataType: 'json',
    })
    .done(function(data) {
    	total_items = data.length;
        start_date = data[total_items-1].humanise_date
        var day = moment(start_date);
        mydate = Date.UTC(day.year(), day.month(),day.date(), day.hours(),day.minutes());
        arrayData = []
        data.reverse();
        for(i=0; i<total_items;i++){
            var day = moment(data[i].humanise_date);
            date = Date.UTC(day.year(), day.month(),day.date(), day.hours(),day.minutes());
            arrayData.push( [ 
                date, 
                parseFloat(data[i].percent_ram_used) ]);
        }        
       

	    $('#ram_hist').highcharts({
	        chart: {
	            zoomType: 'x'
	        },
	        title: {
	            text: 'Historial de uso de Memoria RAM en los ultimos 15 dias'
	        },
	        subtitle: {
	            text: document.ontouchstart === undefined ?
	                    'Haga clic y arrastre en el área de trazado para hacer un zoom' :
	                    'Pinch the chart to zoom in'
	        },
	        xAxis: {
	            type: 'datetime',
	            //minRange: 14 * 24 * 3600000 // fourteen days
	        },
	        yAxis: {
	            title: {
	                text: '% de uso'
	            }           
	        },
	        tooltip: {
	            xDateFormat: '%A, %d %B %Y, %H:%M:%S',
	            shared: true,
	            valueSuffix: ' %'
	        },
	        legend: {
	            enabled: true
	        },
	        plotOptions: {
	            area: {
	                fillColor: {
	                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
	                    stops: [
	                        [0, Highcharts.getOptions().colors[0]],
	                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.3).get('rgba')]
	                    ]
	                },
	                marker: {
	                    radius: 2
	                },
	                lineWidth: 1,
	                states: {
	                    hover: {
	                        lineWidth: 1
	                    }
	                },
	                threshold: null
	            }
	        },

	        series: [{
	            type: 'line',
	            name: 'Uso de RAM',
	            pointInterval:  60*1000,
	            //pointStart: Date.UTC(2006, 0, 1),
	            pointStart: mydate,
	            data: arrayData,
	            zones: [{
					value: 30,
					color: '#03A9F4'
				}, {
					value: 60,
					color: '#4CAF50'
				},
				{
					value: 90,
					color: '#FFC107'
				},{
					color: '#C51162'
				},
            ]
	        }]
    });


    })
    .fail(function() {
    	console.log("error");
    })   
    
  
  	//**************************
    $.ajax({
    	url: '/api/gestion/hist_load/?host={{host.id}}&min_date='+daysback.format("DD/MM/YYYY"),
    	type: 'GET',
         dataType: 'json',
    })
    .done(function(data) {
    	total_items = data.length;
        start_date = data[total_items-1].humanise_date
        var day = moment(start_date);
        mydate = Date.UTC(day.year(), day.month(),day.date(), day.hours(),day.minutes());
        load1Array = []
        load5Array = []
        load15Array = []
        //revertir el orden de los datos para pasarselo al grafico de antiguo a actual
        data.reverse();
        for(i=0; i<total_items;i++){
            var day = moment(data[i].humanise_date);
            date = Date.UTC(day.year(), day.month(),day.date(), day.hours(),day.minutes());
            load1Array.push( [ 
                date, 
                parseFloat(data[i].load1) ]);
            load5Array.push( [ 
                date, 
                parseFloat(data[i].load5) ]);
            load15Array.push( [ 
                date, 
                parseFloat(data[i].load15) ]);
        }      

       
               
	    $('#load_hist').highcharts({
	        chart: {
	            zoomType: 'x'
	        },
	        title: {
	            text: 'Historial de carga de procesador en los ultimos 15 dias'
	        },
	        subtitle: {
	            text: document.ontouchstart === undefined ?
	                    'Haga clic y arrastre en el área de trazado para hacer un zoom' :
	                    'Pinch the chart to zoom in'
	        },
	        xAxis: {
	            type: 'datetime',
	            //minRange: 14 * 24 * 3600000 // fourteen days
	        },
	        yAxis: {
	            title: {
	                text: 'Carga de CPU'
	            }           
	        },
	        tooltip: {
	            xDateFormat: '%A, %d %B %Y, %H:%M:%S',
	            shared: true,
	            valueSuffix: ''
	        },
	        legend: {
	            enabled: true
	        },
	        plotOptions: {
	            area: {
	                fillColor: {
	                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
	                    stops: [
	                        [0, Highcharts.getOptions().colors[0]],
	                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.3).get('rgba')]
	                    ]
	                },
	                marker: {
	                    radius: 1
	                },
	                lineWidth: 1,
	                states: {
	                    hover: {
	                        lineWidth: 1
	                    }
	                },
	                threshold: null
	            }
	        },

	        series: [{
	            type: 'line',
	            dashStyle: 'ShortDash',
	            name: 'Carga promedio ultimo min',
	            pointInterval:  60*1000,
	            //pointStart: Date.UTC(2006, 0, 1),
	            pointStart: mydate,
	            data: load1Array,
	            color: "#9C27B0"
	        },
	        {
	            type: 'line',
	            name: 'Carga promedio ultimos 5 mins.',
	            pointInterval:  60*1000,
	            //pointStart: Date.UTC(2006, 0, 1),
	            pointStart: mydate,
	            data: load5Array,
	            lineWidth: 1,
	            color: "#FF9800"
	        },
	        {
	            type: 'line',
	            name: 'Carga promedio ultimos 15 mins.',
	            pointInterval:  60*1000,
	            //pointStart: Date.UTC(2006, 0, 1),
	            pointStart: mydate,
	            data: load15Array,
	            lineWidth: 1,
	            color: "#004D40"
	        }
	        ]
    });


    })
    .fail(function() {
    	console.log("error");
    })   
    
    	//**************************
    $.ajax({
    	url: '/gestion/disk_hist/{{host.id}}/',
    	type: 'GET',
         dataType: 'json',
    })
    .done(function(data) {
    	partitions = data.result.length
    	total_entries = data.result[0].length;
    	//tomemos la fecha mas antigua del primer ARRAY
    	start_date = data.result[0][total_entries-1].fecha
    	var day = moment(start_date);
        mydate = Date.UTC(day.year(), day.month(),day.date(), day.hours(),day.minutes());


    	$('#disk_hist').highcharts({
	        chart: {
	            zoomType: 'x',
	            events : {
	                load : function () {
	                    // set up the updating of the chart each second
	                    var series = this.series[0];
	                    setInterval(function () {
	                        var x = (new Date()).getTime(), // current time
	                            y = Math.round(Math.random() * 100);
	                        //series.addPoint([x, y], true, true);
	                    }, 1000);
	                }
	            }
	        },
	        title: {
	            text: 'Historial de uso de disco duro en los ultimos 15 dias'
	        },
	        subtitle: {
	            text: document.ontouchstart === undefined ?
	                    'Haga clic y arrastre en el área de trazado para hacer un zoom' :
	                    'Pinch the chart to zoom in'
	        },
	        xAxis: {
	            type: 'datetime',
	            //minRange: 14 * 24 * 3600000 // fourteen days
	        },
	        yAxis: {
	            title: {
	                text: '% de uso'
	            }           
	        },
	        tooltip: {
	            xDateFormat: '%A, %d %B %Y, %H:%M:%S',
	            shared: true,
	            valueSuffix: ' %'
	        },
	        legend: {
	            enabled: true
	        },
	        plotOptions: {
	            area: {
	                fillColor: {
	                    linearGradient: { x1: 0, y1: 0, x2: 0, y2: 1},
	                    stops: [
	                        [0, Highcharts.getOptions().colors[0]],
	                        [1, Highcharts.Color(Highcharts.getOptions().colors[0]).setOpacity(0.3).get('rgba')]
	                    ]
	                },
	                marker: {
	                    radius: 2
	                },
	                lineWidth: 1,
	                states: {
	                    hover: {
	                        lineWidth: 1
	                    }
	                },
	                threshold: null
	            }
	        },
	        series: []
    	});

    	console.log('partitions '+ partitions + ' total_entries: '+ total_entries)

    	var chart = $('#disk_hist').highcharts();

    	for(p=0; p < partitions; p++){
    		console.log(data.result[p][0].path) 
        	//series = chart.series[p];
    		data.result[p].reverse()
    		arrayData = []
    		for(h=0; h< total_entries; h++){
    			//console.log(data.result[p][h].fecha)
    			var day = moment(data.result[p][h].fecha);
	            date = Date.UTC(day.year(), day.month(),day.date(), day.hours(),day.minutes());
	            arrayData.push( [ 
	                date, 
	                parseFloat(data.result[p][h].percent_used) ]);
	          //  series.addPoint([date, parseFloat(data.result[p][h].percent_used) ], true, true);
	          //  console.log(series)
    		}
    		chart.addSeries({
            	name: data.result[p][0].path + ' ('+data.result[p][0].size+' MB)',
            	data: arrayData
        	});
    		//chart.redraw();
    		//console.log(series[p].data)

    	}   

    })
    .fail(function() {
    	console.log("error");
    })

	


  $('#jqxgridBoots').on('rowselect', function (event) 
  {
      var args = event.args;
      var rowBoundIndex = args.rowindex;
      var rowData = args.row;
      console.log(rowData.leido)
      if(!rowData.leido){
      	mark_as_readed('/api/gestion/boot_events/'+rowData.id,'#jqxgridBoots', rowData.id)
      	var notifications = parseInt($('.gestion_boot').html())
      	$('.gestion_boot').html(notifications-1)
      }
  });
   


  $('#jqxgridGeneral').on('rowselect', function (event) 
  {
      var args = event.args;
      var rowBoundIndex = args.rowindex;
      var rowData = args.row;
     console.log(rowData.leido)
      if(!rowData.leido){
      	mark_as_readed('/api/gestion/general_events/'+rowData.id,'#jqxgridGeneral', rowData.id)
      	var notifications = parseInt($('.gestion_general').html())
      	$('.gestion_general').html(notifications-1)
      }
  });
    

function mark_as_readed(url, grid_id, row_id){
	$.ajax({
		url: url,
		type: 'PUT',
		data: {
			leido: true,
			//host: host
		},
	})
	.done(function(data) {
		console.log("success");
		$(grid_id).jqxGrid('updaterow', row_id, data);
		var notifications = parseInt($('.gestion_menu').html())
		$('.gestion_menu').html(notifications-1)
	})
	.fail(function(err) {
		console.log(err);
	})	
}


	
});


</script>
{% endblock scripts %}